<!-- Composant principal de l'application. Gère l'affichage des différents sous-composants -->
<template>
    <div id="app" class="container">

        <!--Headers-->
        <HeaderNoLogin v-if="headers.header_default" @display_event="handle_display_event" @login_event="handle_login_event" />
        <HeaderLogin :eleve="eleve" v-if="headers.header_login" @display_event="handle_display_event" @logout_event="handle_logout_event" />

        <!-- main components -->

        <!-- accueils -->
        <AccueilNoLogin v-if="display.accueil_default" @display_event="handle_display_event" />
        <AccueilMap v-if="display.accueil_map" v-bind:api_url="api_url" v-bind:eleve="eleve"/>

        <!-- dasboards -->
        <Dashboard v-bind:eleve="eleve" v-bind:api_url="api_url" v-if="display.dashboard" @war_event="handle_battle_event" @display_event="handle_display_event"/>
        
        <!-- Questionnaire pour une bataille -->
        <Questionnaire v-bind:api_url="api_url" v-bind:id_questionnaire="id_questionnaire" v-if="display.questionnaire" />
        <!-- questionnaires -->
        <QuestionnairePanel v-bind:eleve="eleve" v-bind:api_url="api_url" v-if="display.questionnaire_panel" @display_event="handle_display_event"/>

        <!-- autres -->
        <Mention v-if="display.mention"/>

        <!--footer-->
        <Footer @display_event="handle_display_event"/>
    
    </div>
</template>

<script>

import HeaderNoLogin from './components/header/NoLogin.vue'
import HeaderLogin from './components/header/Login.vue'
import AccueilNoLogin from './components/AccueilNoLogin.vue'
import AccueilMap from './components/AccueilMap'
import Dashboard from './components/dashboard/Dashboard'
import QuestionnairePanel from './components/questionnaire/QuestionnairePanel'
import Mention from './components/Mention.vue'
import Footer from './components/Footer.vue'
import Questionnaire from './components/questionnaire/Questionnaire'

export default {
    name: 'App',
    data() {
        return {
            api_url: process.env.API_URL || "http://localhost:4000/request",
            headers:{        
                header_default:true,
                header_login:false
            },
            display:{
                questionnaire_panel:false,
                accueil_default:true,
                accueil_map:false,
                dashboard:false,
                mention:false,
                picture_test:false,
                questionnaire:false
            },
            eleve :undefined,
            id_questionnaire:""
        }
    },
    components: {
        HeaderNoLogin,
        HeaderLogin,
        AccueilNoLogin,
        AccueilMap,
        Dashboard,
        QuestionnairePanel,
        Mention,
        Footer,
        Questionnaire
    },
    methods: {
        handle_display_event(event){
            if(Array.isArray(event.to_display)){
                let display_names = Object.keys(this.display)
                display_names.forEach(component => {
                    this.display[component] = false
                })
                event.to_display.forEach(component => {
                    if(display_names.includes(component)) this.display[component] = true
                })
            }
            //TODO else display error ?
        },
        handle_battle_event(id_quest){
            let display_names = Object.keys(this.display)
            this.id_questionnaire = id_quest
            display_names.forEach(component => {
                this.display[component] = false
                if(component == "questionnaire") this.display[component] = true
            })
        },
        handle_login_event(event){
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"login",
                    id:event.id,
                    mdp:event.mdp
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if(result.err){
                    console.log(result.err)
                    //TODO display_error
                }else{
                    console.log(result)
                    this.eleve = result 
                    this.headers.header_default = false;
                    this.headers.header_login = true;  
                    let event_to_display = {to_display:[]}         
                    if(this.eleve.classe_eleve === "prof"){
                        event_to_display.to_display.push("accueil_map")
                    }else{   
                        event_to_display.to_display.push("accueil_map")       
                    }
                    this.handle_display_event(event_to_display)
                }
            })
        },
        handle_logout_event(){
            this.headers.header_login = false;
            this.headers.header_default = true;
            this.eleve = undefined
            let event_to_display = {to_display:["accueil_default"]}
            this.handle_display_event(event_to_display)
        }  
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
