<template>
    <body centrer>
        <div class="centrer">
            <center>
                <div v-if="!isMobile()">
                    <desktop>
                        <img id="image" src="../assets/logoGoM.png" alt="Game Of Maths" >
                    </desktop>
                </div>
                <div v-else>
                    <mobile>
                        <img id="image" src="../assets/logoGoM.png" alt="Game Of Maths" class="smartphone">
                    </mobile>
                </div>
                <br>
                <Map v-bind:api_url="api_url" v-bind:eleve="eleve"/>
            </center>
        </div>
    </body>
</template>

<script>
import Map from './map/Map'
export default {
    props: [
        "eleve",
        "api_url"
    ],
    components:{
        Map
    },
    data() {
        return {
        }
    },
    methods: {
        isMobile() {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                return true
            } else {
                return false
            }
        }
    }
}
</script>

<style scoped>

</style>
