<template>
  <body centrer>
      <div class="centrer">
        <center>
            <div v-if="!isMobile()">
                <desktop>
                    <img id="image" src="../assets/logoGoM.png" alt="Game Of Maths" >
                </desktop>
            </div>
            <div v-else>
                <mobile>
                     <img id="image" src="../assets/logoGoM.png" alt="Game Of Maths" class="smartphone">
                </mobile>
            </div>
        </center>
      </div>
  </body>
</template>

<script>
export default {
  props: [
  ],
  data() {
    return {
      
    }
  },
  methods: {
    isMobile() {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                return true
            } else {
                return false
            }
        }
  }
}
</script>

<style scoped>

</style>
