<template>
    <div class="">
        <br>
        <br>
        <br>
        <br>
        <!-- Footer -->
        <footer fixed="bottom">
            <!-- Grid container -->
            <div class="centrer">
                <img src="../assets/logoGoM.png" alt="Game Of Maths" width="250" height="35" >
                <div>
                    <a @click="mention">Mentions Légales</a>
                </div>
                <div>Adresse-mail: quach.e1900466@etud.univ-ubs.fr
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    methods: {
        mention(){
            this.$emit("mention");
        }
    }
}
</script>

<style scoped>
footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background: #e9ecef;
  color: rgb(0, 0, 0);
  padding-top: 10px;

}
</style>
