<template>
    <div>
        <!--bootstrap card-->
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block variant="success" v-b-toggle.add_eleve>Ajouter un thème</b-button>
            </b-card-header>
            <b-collapse id="add_eleve" accordion="add-theme-accordion" role="tabpanel">
                <b-card-body>
                    <b-form>
                        <b-row>
                        <!--input for the text of the Question (bind with new_question.texte)-->
                            <b-col>
                                <b-input-group prepend="Nom">
                                    <b-form-input type="text" v-model="new_theme.nom_theme" placeholder="Nom"></b-form-input>
                                </b-input-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <!--submit button equivalent (click.prevent call on_new_reponse)-->
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_new" variant="success">Créer</b-button>
                            </b-col>
                            <!--reset form button (click.prevent call on_reset_reponse)-->
                            <b-col sm="auto">
                                <b-button @click.prevent="on_reset" variant="danger">Reset</b-button>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>

export default {
    name:"CreationTheme",
    components:{
    },
    data(){
        return{
            new_theme:{
                nom_theme:undefined
            }
        }
    },
    methods:{
        on_new(){
            if(this.new_theme.nom_theme.trim() !== ""){
                this.$emit("create_event",this.new_theme)
            }else{
                console.log(" tous les champs doivent être renmplit")
            }
        },
        on_reset(){
            this.new_theme = {
                nom_theme:undefined
            }
        }
    },
    mounted(){

    }
}
</script>

<style>

</style>