<template>
    <div>
        <div v-for="theme in themes" :key="theme.id_theme">
            <ThemeDisplay :api_url="api_url" :theme="theme" @edit_event="handle_edit_event" @delete_event="handle_delete_event"/>
        </div>
        <CreationTheme @create_event="handle_create_event"/>
    </div>
</template>

<script>
import ThemeDisplay from './ThemeDisplay'
import CreationTheme from './CreationTheme'

export default {    
    name:"ManagerTheme",
    components:{
        ThemeDisplay,
        CreationTheme
    },
    props:['api_url','themes'],
    data(){
        return{
            
        }
    },
    methods:{
        handle_create_event(new_theme){
            console.log("create",new_theme)
                fetch(this.api_url,{
                    method:"POST",
                    body: JSON.stringify({
                        procedure:"create",
                        table:"Theme",
                        attributes:[
                            {name:"nom_theme",value:new_theme.nom_theme}
                        ]
                    }),
                    headers:{
                        "content-type": "application/json"
                    }
                })
                .then(res=>res.json())
                .then(result =>{
                    if(result.err != undefined){
                        console.log(result.err)
                        // TODO display error
                    }else{
                        this.$emit("reload_event")
                    }
                })

        },
        handle_edit_event(edited_theme){
                fetch(this.api_url,{
                    method:"POST",
                    body: JSON.stringify({
                        procedure:"update",
                        table:"Theme",
                        pk:edited_theme.id_theme,
                        attributes:[
                            {name:"nom_theme",value:edited_theme.nom_theme}
                        ]
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .then(res=>res.json())
                .then(result =>{
                    if(result.err != undefined){
                        console.log(result.err)
                        // TODO display error
                    }else{
                        this.$emit("reload_event")
                    }
                })
                
        },
        handle_delete_event(id_theme){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_questionnaire_from_theme",
                    pk:id_theme
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    if(result.length == 0){

                        this.$bvModal.msgBoxConfirm("Ce thème sera suprimé", {
                            title: 'Confirmer la suppresion :',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'danger',
                            okTitle: 'OUI',
                            cancelTitle: 'NON',
                            footerClass: 'p-2',
                        hideHeaderClose: false,
                            centered: true
                        }).then((response)=>{
                            if(response){

                                fetch(this.api_url,{
                                    method:"POST",
                                    body: JSON.stringify({
                                        procedure:"delete_children_theme",
                                        pk:id_theme
                                    }),
                                    headers: {
                                        "content-type": "application/json"
                                    }
                                })
                                .then(res=>res.json())
                                .then(result =>{
                                    if(result.err != undefined){
                                        console.log(result.err)
                                    }else{
                                        this.$emit("reload_event")
                                    }

                                })

                            }

                        })

                    }else{
                        console.log("le theme ne doit pas contenir de questionnaire")

                        this.$bvModal.msgBoxConfirm("Ce thème contient des questionnaires, ils seront également supprimé.", {
                            title: 'Confirmer la suppresion :',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'danger',
                            okTitle: 'OUI',
                            cancelTitle: 'NON',
                            footerClass: 'p-2',
                            hideHeaderClose: false,
                            centered: true
                        }).then((response)=>{

                            if(response){

                                fetch(this.api_url,{
                                    method:"POST",
                                    body: JSON.stringify({
                                        procedure:"delete_children_theme",
                                            pk:id_theme
                                        }),
                                        headers: {
                                            "content-type": "application/json"
                                        }
                                })
                                .then(res=>res.json())
                                .then(result =>{
                                    if(result.err != undefined){
                                        console.log(result.err)
                                    }else{
                                        console.log("reload!")
                                        this.$emit("reload_event")
                                    }

                                })

                            }

                        })
                            
                    }
                }
            })
        }
    }
}
</script>

<style>

</style>