<template>
    <div>
        <b-form inline>
            <b-col>
                <b-form-select v-model="selected_theme" :options="themes_options"></b-form-select>
                <b-button variant="success" @click="select">Select</b-button>
            </b-col>
        </b-form>
    </div>
</template>

<script>
export default {
    name:'ThemeSelector',
    props:[
        'themes',
        'theme_to_select'
    ],
    data(){
        return{
            selected_theme:null,
        }
    },
    computed:{
        themes_options(){
            let options = [{value:null,text:'Selectionnez un thème'}]
            
            this.themes.forEach(theme => {
                options.push({value:theme.id_theme,text:theme.nom_theme})
            });

            return options
        }

    },
    methods:{
        select(){
            if(this.selected_theme != null){
                this.$emit("select_theme_event",this.selected_theme)
            }else{
                console.log("need to actually select a theme")
                // TODO display error
            }
        }
    },
    mounted(){
        console.log("themes",this.themes)
        
        if(this.theme_to_select != undefined && this.theme_to_select != null){
            this.selected_theme = this.theme_to_select
        }else{
            this.selected_theme = null
        }
    }
}
</script>

<style>

</style>