<template>
    <div>
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-row>
                    <b-col  style="text-align: left;font-weight: bold" v-if="!edit_mode">
                        {{theme.nom_theme}}
                    </b-col>
                    <b-col  v-if="edit_mode">
                        <b-form inline>
                            <b-col>
                                <b-input-group prepend="Nom">
                                    <b-form-input type="text" v-bind:id="'theme-nom-input'+this.theme.id_theme" v-model="edit_theme.nom_theme" placeholder="Nom" ></b-form-input>
                                </b-input-group>
                            </b-col>                            
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_edit_validate" variant="success">Modifier</b-button>
                            </b-col>
                        </b-form>
                    </b-col>                    
                    <b-col sm="auto" class="h4 mb-2">
                        <b-icon :icon="edit_icon" @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave"></b-icon>
                        <b-icon :icon="delete_icon" @click="on_delete_click"  @mouseover="on_delete_over" @mouseleave="on_delete_leave"></b-icon>
                    </b-col>
                </b-row>
            </b-card-header>
            
        </b-card>
    </div>
</template>

<script>
export default {
    name:"ThemeDisplay",
    components:{

    },
    props:[
        "api_url",
        "theme"
    ],
    data (){
        return{
            edit_mode:false,
            edit_icon:"pencil",
            delete_icon:"trash",
            edit_theme:{
                nom_theme:undefined
            }
        }
    },
    methods:{
        //methods call to handle events emited by subcomponents,
        on_edit_over(){
            this.edit_icon = "pencil-fill"
        },
        on_edit_leave(){
            this.edit_icon = "pencil"
        },
        on_edit_click(){
            this.edit_mode = !this.edit_mode
        },
        on_edit_validate(){
            this.edit_mode = false
            this.$emit("edit_event",{"id_theme":this.theme.id_theme,"nom_theme":this.edit_theme.nom_theme})
        },
        on_delete_over(){
            this.delete_icon = "trash-fill"
        },
        on_delete_leave(){
            this.delete_icon = "trash"
        },
        on_delete_click(){
            this.$emit("delete_event",this.theme.id_theme)
        }
    }
}
</script>

<style>

</style>