<template>
    <div>
        <div v-if="this.chateaux[this.index].groupe != undefined">
            <h4><b>Seigneur {{this.chateaux[this.index].groupe.eleves.chef.prenom_eleve}} {{this.chateaux[this.index].groupe.eleves.chef.nom_eleve}}</b></h4>
            <h4><b>du groupe {{this.chateaux[this.index].groupe.nom_groupe}}</b></h4>
            <hr>
            <b-button @click="display_menbres = !display_menbres">Les membres du groupe</b-button>
            <div v-if="display_menbres">
                <br>
                <div v-if="this.chateaux[this.index].groupe.eleves.eleves.length > 0">
                    <h6 v-for="eleve in this.chateaux[this.index].groupe.eleves.eleves" :key="eleve.id_eleve">
                        {{eleve.prenom_eleve}} {{eleve.nom_eleve}}
                    </h6>
                </div>
                <div v-else>
                    Il n'y a pas d'autres menbres que le chef dans ce groupe.
                </div>
            </div>
        </div>
        <div v-else>
            Ce chateau n'est pas occupé par un groupe !
            <div v-if="is_groupe">
                <div v-if="is_chef">
                    <div v-if="is_chef_chateau">
                        Votre groupe contrôle déjà un chateau !
                    </div>
                    <div v-else>
                        <b-button @click="claim_castle">Revendiquer</b-button>
                    </div>
                </div>
                <div v-else-if="eleve.classe_eleve !== 'prof'">
                    Votre chef peut revendiquer ce chateau.
                </div>
            </div>
            <div v-else-if="eleve.classe_eleve !== 'prof'">
                Vous devez être dans un groupe pour revendiquer un chateau
            </div>

        </div>
        <div v-if="this.chateaux[this.index].attaque != undefined">
            <hr>
            <div v-if="is_groupe">
                <span v-if="this.chateaux[this.index].attaque.groupe_attaque === this.eleve_groupe.id_groupe">
                    <h6>Ce chateau est déjà entrain d'être attaquer par votre groupe !</h6>
                    Consultez votre tableau de bord !
                </span>
            </div>
            <span v-else>
                <h6>Ce chateau est déjà entrain d'être attaqué par le groupe {{this.chateaux[this.index].attaque.groupe.nom_groupe}}</h6>
            </span>
        </div>
        <div v-else>
            <div v-if="is_groupe">
                <div  v-if="this.chateaux[this.index].groupe != undefined">
                    <div v-if="this.chateaux[this.index].groupe.id_groupe !== this.eleve_groupe.id_groupe">
                        <div v-if="is_chef">
                            <b-button @click="create_attack">Planifier une attaque</b-button>
                        </div>
                        <div v-else-if="eleve.classe_eleve !== 'prof'">
                            Votre chef peut attaquer ce chateau.
                        </div>

                    </div>
                    <div v-else>
                        Votre groupe contrôle ce chateau.
                    </div>
                </div>
            </div>
            <div v-else-if="eleve.classe_eleve !== 'prof' && this.chateaux[this.index].groupe_chateau != null">
                Vous devez être dans un groupe pour attaquer un chateau
            </div>

        </div>
    </div>
</template>

<script>
export default {
    nom:"ModalChateau",
    props:['index','eleve','eleve_groupe','chateaux','api_url'],
    data(){
        return{
            display_menbres:false,
            is_groupe:false,
            is_chef:false,
            is_chef_chateau:false
        }
    },
    computed:{
        // is_chef: function(){
        //     return (this.eleve_groupe.id_chef === this.eleve.id_eleve)
        // }
    },
    methods:{
        create_attack(){ 
            this.$emit('attack_event',this.index)
        },
        claim_castle(){
            this.$emit('claim_event',this.index)
        }
    },
    mounted(){
        if(this.eleve_groupe != undefined){
            this.is_groupe = true
            this.is_chef = (this.eleve_groupe.chef_groupe === this.eleve.id_eleve)
            if(this.is_chef){
                let check = false
                this.chateaux.forEach(chateau => {
                    if(chateau.groupe_chateau != null){
                        if(this.eleve_groupe.id_groupe === chateau.groupe_chateau){
                            check = true
                        }
                    }
                });
                this.is_chef_chateau = check
            }
        }
    }
}
</script>

<style>

</style>