<template>
    <div>
        Les chateaux :
        <div v-for="chateau in chateaux" :key="chateau.id_chateau">
            <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-row>
                        <b-col>
                            <b-button size="sm" variant="warning" v-b-toggle="''+chateau.id_chateau">+</b-button>
                        </b-col>
                        <b-col>
                            {{chateau.nom_chateau}}
                        </b-col>
                        <!-- TODO si eleve maitre ou groupe maitre afficher qq chose -->
                    </b-row>
                </b-card-header>
                <b-collapse :id="''+chateau.id_chateau" accordion="my-accordion">
                    <b-card-body>
                        <div v-if="chateau.groupe != undefined">
                            <h4><b>Seigneur {{chateau.groupe.eleves.chef.prenom_eleve}} {{chateau.groupe.eleves.chef.nom_eleve}}</b></h4>
                            <h4><b>du groupe {{chateau.groupe.nom_groupe}}</b></h4>
                            <hr>
                            <b-button @click="display_menbres = !display_menbres">Les membres du groupe</b-button>
                            <div v-if="display_menbres">
                                <br>
                                <div v-if="chateau.groupe.eleves.eleves.length > 0">
                                    <h6 v-for="eleve in chateau.groupe.eleves.eleves" :key="eleve.id_eleve">
                                        {{eleve.prenom_eleve}} {{eleve.nom_eleve}}
                                    </h6>
                                </div>
                                <div v-else>
                                    <h6>Ce groupe n'a pas de menbres autre que le chef de groupe.</h6>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            Ce chateau n'est pas occupé par un groupe !
                        </div>
                        <hr>
                        <div v-if="chateau.attaque != undefined">
                            <div v-if="eleve.classe_eleve === 'prof'">
                                <div v-if="chateau.attaque.questionnaire_attaque != null">
                                    <div v-if="chateau.attaque.lance_attaque === 'ATTENTE'">
                                        <QuestionnaireSelector @select_questionnaire_event="handle_select_questionnaire_event" :chateau="chateau" :questionnaires="questionnaires" :questionnaire_to_select="chateau.attaque.questionnaire_attaque"/>
                                        <b-button variant="danger" @click="launch_attack(chateau.id_chateau)">Lancer l'attaque</b-button>
                                    </div>
                                    <div v-else>
                                        <b-button v-b-toggle.collapse_att_state variant="secondary">Etat de l'attaque :</b-button>
                                        <b-collapse id="collapse_att_state" @show="reload_states_data(chateau.id_chateau)">
                                            Statut des attaquants :
                                            <div v-for="state in attaque_states" :key="state.id_association_question_questionnaire">
                                                {{state.eleve.prenom_eleve}} {{state.eleve.nom_eleve}}
                                                <span v-if="state.etat_attaque_association === 'ATTENTE'">n'as pas commencé le questionnaire.</span>
                                                <span v-else-if="state.etat_attaque_association === 'ENCOURS'">a commencé le questionnaire.</span>
                                                <span v-else-if="state.etat_attaque_association === 'FAIT'">a finit le questionnaire.</span><br>
                                            </div>
                                            Statut des défenseurs :
                                            <div v-for="state in defense_states" :key="state.id_association_question_questionnaire">
                                                {{state.eleve.prenom_eleve}} {{state.eleve.nom_eleve}}
                                                <span v-if="state.etat_attaque_association === 'ATTENTE'">n'as pas commencé le questionnaire.</span>
                                                <span v-else-if="state.etat_attaque_association === 'ENCOURS'">a commencé le questionnaire.</span>
                                                <span v-else-if="state.etat_attaque_association === 'FAIT'">a finit le questionnaire.</span><br>
                                            </div>
                                            <b-button variant="danger" @click="end_attack(chateau.id_chateau)">Mettre fin à l'attaque.</b-button>
                                        </b-collapse>
                                    </div>
                                </div>
                                <div v-else>
                                    <QuestionnaireSelector @select_questionnaire_event="handle_select_questionnaire_event" :chateau="chateau" :questionnaires="questionnaires" :questionnaire_to_select="null"/>
                                    Un questionnaire doit être choisit pour lancer une attaque !
                                </div>
                            </div>
                            <div v-else>
                                <div v-if="eleve_groupe != undefined">
                                    <div v-if="eleve_groupe.id_groupe === chateau.attaque.groupe_attaque">
                                        <div v-if="chateau.attaque.lance_attaque === 'LANCER'">
                                            <div v-if="eleve_attaque">
                                                <b-button variant="danger" @click="do_questionnaire(chateau.id_chateau) === 'ATTENTE'" >Participer à l'attaque'</b-button>
                                            </div>
                                            <div v-else>
                                                Vous avez deja réaliser votre questionnaire pour cette attaque.
                                            </div>
                                        </div>
                                        <div v-else>
                                            Votre groupe attaque ce Chateau.
                                            L'attaque n'est pas encore lancé.
                                        </div>
                                    </div>
                                    <div v-else-if="eleve_groupe.id_groupe === chateau.groupe_chateau">
                                        <div v-if="chateau.attaque.lance_attaque === 'LANCER'">
                                            <div v-if="eleve_attaque">
                                                <b-button variant="success" @click="do_questionnaire(chateau.id_chateau)" >Participer à la défense</b-button>
                                            </div>
                                            <div v-else>
                                                Vous avez deja réaliser votre questionnaire pour cette attaque.
                                            </div>
                                        </div>
                                        <div v-else>
                                            Votre chateau est attaqué par le groupe {{chateau.attaque.groupe.nom_groupe}} !
                                            L'attaque n'est pas encore lancé.
                                        </div>
                                    </div>
                                    <div v-else>
                                        Ce chateau est attaqué par le groupe {{chateau.attaque.groupe.nom_groupe}} !
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div v-else>
                            Ce chateau n'est pas attaqué.
                        </div>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>
    </div>
</template>

<script>
import QuestionnaireSelector from '../manager/questionnaire/QuestionnaireSelector'

export default {
    name:"AttaqueDisplay",
    props:['api_url','eleve'],
    components:{
        QuestionnaireSelector
    },
    data(){
        return{
            display_menbres:false,
            chateaux:[],
            questionnaires:[],
            attaque_states:[],
            defense_states:[],
            eleve_groupe:undefined,
            eleve_attaque:true
        }
    },
    methods:{
        do_questionnaire(key_chateau){
            let chateau_event = this.chateaux.find((chateau)=>{return(chateau.id_chateau === key_chateau)})
            this.questionnaire_is_done(key_chateau)
            this.$emit('do_questionnaire_event',chateau_event)
        },
        launch_attack(key_chateau){
            console.log(key_chateau)
            let chateau = this.chateaux.find((un_chateau)=>{return(un_chateau.id_chateau === key_chateau)})
            fetch(this.api_url,{
                method:'POST',
                body: JSON.stringify({
                    procedure:"create_attack_association",
                    pk:chateau.attaque.id_attaque
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then((result)=>{

                if(result.err != undefined){
                    console.log(result.err)
                }else{

                    fetch(this.api_url,{
                        method:'POST',
                        body: JSON.stringify({
                            procedure:"update",
                            table:"Attaque",
                            pk:chateau.attaque.id_attaque,
                            attributes:[
                                {name:"lance_attaque",value:"LANCER"}
                            ]
                        }),
                        headers: {
                            "content-type": "application/json"
                        }
                    })
                    .then(res=>res.json())
                    .then((result)=>{

                        if(result.err != undefined){
                            console.log(result.err)
                        }else{
                            this.reload_data()
                        }
                        
                    }).catch((err)=>{console.log(err)})

                }
            }).catch((err)=>{console.log(err)})
        },
        end_attack(key_chateau){
            let chateau = this.chateaux.find((un_chateau)=>{return(un_chateau.id_chateau === key_chateau)})

            fetch(this.api_url,{
                method:'POST',
                body: JSON.stringify({
                    procedure:"end_castle_attack",
                    pk:chateau.attaque.id_attaque
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    console.log(result)
                    this.reload_data()
                }
            })
            .catch((err)=>{console.log(err)})

        },
        handle_select_questionnaire_event(event){
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"update",
                    table:"Attaque",
                    pk:event.id_attaque,
                    attributes:[
                        {name:"questionnaire_attaque",value:event.id_questionnaire}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then((result)=>{
                console.log(result)
                this.reload_data()
            })
            .catch((err)=>{console.log(err)})
        },
        reload_data(){

            fetch(this.api_url,{
                method:'POST',
                body: JSON.stringify({
                    procedure:"get_groupe_from_eleve",
                    pk:this.eleve.id_eleve
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.eleve_groupe = result

                    fetch(this.api_url,{
                        method:'POST',
                        body: JSON.stringify({
                            procedure:"get_chateau_all"
                        }),
                        headers: {
                            "content-type": "application/json"
                        }
                    })
                    .then(res=>res.json())
                    .then(result=>{
                        if(result.err != undefined){
                            console.log(result.err)
                        }else{
                            this.chateaux = result

                            fetch(this.api_url,{
                                method:'POST',
                                body: JSON.stringify({
                                    procedure:"get_all",
                                    table:"Questionnaire"
                                }),
                                headers: {
                                    "content-type": "application/json"
                                }
                            })
                            .then(res=>res.json())
                            .then(result=>{
                                if(result.err != undefined){
                                    console.log(result.err)
                                }else{
                                    this.questionnaires = result
                                    
                                    let concerned_chateau = this.chateaux.find((chateau)=>{
                                        return(
                                            chateau.attaque != undefined &&
                                            (
                                                chateau.groupe.id_groupe === this.eleve_groupe.id_groupe ||
                                                chateau.attaque.groupe.id_groupe === this.eleve_groupe.id_groupe
                                            )
                                        )
                                    })
                                    if(concerned_chateau != undefined){
                                        this.questionnaire_is_done(concerned_chateau.id_chateau)                                     
                                    }
                                }
                            })
                            .catch((err)=>{console.log(err)})
                        }
                    })
                    .catch((err)=>{console.log(err)})
                }
            })
            .catch((err)=>{console.log(err)})

        },
        reload_states_data(key_chateau){
            let chateau = this.chateaux.find((un_chateau)=>{return(un_chateau.id_chateau === key_chateau)})

            fetch(this.api_url,{
                method:'POST',
                body: JSON.stringify({
                    procedure:"get_attaque_association_all",
                    pk:chateau.attaque.id_attaque
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    if(result.attaquants != undefined && result.defenseurs != undefined){
                        this.attaque_states = result.attaquants
                        this.defense_states = result.defenseurs
                    }else{
                        console.log("uncorrect result, missing attaquants or defenseurs fields")
                    }
                }
            })
            .catch((err)=>{console.log(err)})
            
        },
        questionnaire_is_done(key_chateau){
            let chateau = this.chateaux.find((un_chateau)=>{return(un_chateau.id_chateau === key_chateau)})

            fetch(this.api_url,{
                method:'POST',
                body: JSON.stringify({
                    procedure:"get_attaque_association_one",
                    pk_attaque:chateau.attaque.id_attaque,
                    pk_eleve:this.eleve.id_eleve
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.eleve_attaque = result.etat_attaque_association === 'ATTENTE'
                }
            })
            .catch((err)=>{console.log(err)})
            
        }
    },
    mounted(){
        this.reload_data()        
    }
}
</script>

<style>

</style>