<template>
    <div>
        <h1> Bonjour {{this.eleve.nom_eleve}} {{this.eleve.prenom_eleve}} ! </h1>
        <h2> Score : {{this.eleve.points_eleve}} </h2>

        <div v-if="do_questionnaire">
            <Questionnaire :api_url="this.api_url" :id_questionnaire="this.id_questionnaire"
            @next_questionanire_event="handle_next_questionnaire_event"
            @end_questionnaire_event="handle_end_questionnaire_event"
            @display_event="do_questionnaire = !do_questionnaire"
            />
        </div>
        
        <AttaqueDisplay v-if="!do_questionnaire" :key="attaque_display_key" :eleve="eleve" :api_url="api_url" @do_questionnaire_event="handle_do_questionnaire_event"/>

        <div class="group" v-if="!is_prof">
            <div class="more-vertical-margin">
                <b-button @click="display_group()" >Afficher les groupes</b-button>
            </div>
            <div v-if="display_groups">
                <div class="more-vertical-margin" v-if="mon_groupe==undefined">
                    <b-form>
                        <b-input-group prepend="Nom du groupe">
                          <b-form-input type="text" v-model="nom_nouveau_groupe" placeholder="Nom du groupe" ></b-form-input>
                        </b-input-group>
                        <b-button variant="info" @click.prevent="create_group()">Créer un groupe</b-button>
                    </b-form>
                    <!--TODO popup de confirmation de quitter / supprimer le groupe -->
                </div>
                <div class="more-vertical-margin" v-if="mon_groupe!=undefined">
                    <h2>Mon groupe ({{mon_groupe.nom_groupe}})</h2>
                    <b-card-text><b-icon font-scale="1.5" icon="sunglasses"></b-icon> {{eleves_from_groupe.chef.nom_eleve}} {{eleves_from_groupe.chef.prenom_eleve}} [{{eleves_from_groupe.chef.points_eleve}} pts]</b-card-text>
                    <b-card-text v-for="un_eleve in eleves_from_groupe.eleves" :key="un_eleve.id_eleve" >{{un_eleve.nom_eleve}} {{un_eleve.prenom_eleve}} [{{un_eleve.points_eleve}} pts]</b-card-text>
                    <div v-if="this.mon_groupe.chef_groupe==this.eleve.id_eleve">
                        Invitations :
                        <div v-for="invitation in invitations" :key="invitation.id_invitation" class="more-vertical-margin">
                            <b-card-text>{{invitation.eleve.prenom_eleve}} {{invitation.eleve.nom_eleve}} souhaite rejoindre le groupe</b-card-text>
                            <b-button variant="info" @click="accept_invitation(invitation)">Accepter</b-button>
                            <b-button variant="danger" @click="delete_invitation(invitation)">Refuser</b-button>
                        </div>
                    </div>
                    <hr>
                    <b-button v-if="this.mon_groupe.chef_groupe==this.eleve.id_eleve" variant="danger" @click="delete_group()">Supprimer le groupe</b-button>
                    <b-button v-if="this.mon_groupe.chef_groupe!=this.eleve.id_eleve" variant="danger" @click="leave_group()">Quitter le groupe</b-button>
                    <!--TODO popup de confirmation de quitter / supprimer le groupe -->
                </div>
                Groupes :
                <div v-for="groupe in groupes" :key="groupe.id_groupe">
                    <GroupDisplay v-bind:eleve="eleve" v-bind:groupe="groupe" v-bind:mon_groupe="mon_groupe" v-bind:api_url="api_url"/>
                </div>
            </div>
        </div>

        <div class="mdp">
            <div class="more-vertical-margin">
                <b-button @click="display_edit_mdp=!display_edit_mdp" >Changer de mot de passe</b-button>
            </div>
            <!--TODO mettre le form dans un subcomponent (communs aux dashbords)-->
                <b-card no-body class="more-vertical-margin" v-if="display_edit_mdp">
                    <b-card-body class="more-padding">
                        <b-form>
                            <b-row>
                                <b-col>
                                    <b-input-group prepend="Ancient mot de passe">
                                        <b-form-input type="password" placeholder="Ancien mot de passe" v-model="old_password"></b-form-input>
                                    </b-input-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <!-- <label for="input-live">Nouveau mot de passe :</label> -->
                                <b-col>
                                    <b-input-group prepend="Nouveau mot de passe">
                                        <b-form-input type="password" placeholder="Nouveau mot de passe" v-model="new_password" :state="new_password_state"></b-form-input>
                                        <b-form-invalid-feedback id="input_password_feedback">
                                            Ce mot de passe ne respecte pas les contraintes.
                                        </b-form-invalid-feedback>
                                    </b-input-group>
                                </b-col>
                                <b-col>
                                    <b-input-group prepend="Confirmer mot de passe">
                                        <b-form-input type="password" placeholder="Confirmer mot de passe" v-model="new_password_confirmation" :state="new_password_confirmation_state"></b-form-input>
                                        <b-form-invalid-feedback id="input_password_confirmation_feedback">
                                            Ce mot de passe doit être identique au premier.
                                        </b-form-invalid-feedback>
                                    </b-input-group>
                                </b-col>
                            </b-row>
                            <b-form-text>Votre mot de passe doit contenir au moins 12 caractères, une majuscule, un chiffre et un caractère spécial (!,#,$,%,&,?,")</b-form-text>
                            <br>
                            <b-button variant="success" @click="edit_mdp">Valider</b-button>
                            <br>
                        </b-form>
                    </b-card-body>
                </b-card>
        </div>

        <div class="manager" v-if="is_prof">
            <div class="more-vertical-margin">
                <b-button @click="display_manager=!display_manager" >Gestionnaire</b-button>
            </div>
            <ManagerTabs class="more-vertical-margin" v-if="display_manager" v-bind:api_url="api_url"/>
        </div>

        <div class="classes" v-if="is_prof">
            <div class="more-vertical-margin">
                <b-button @click="click_list_class()" >Liste des classes</b-button>
            </div>
            <div class="the_lists">
                <b-card class="list list_class" v-if="display_classes">
                    <b-list-group>
                          <b-list-group-item button v-for="classe in this.classes" :key="classe.id_classe" @click="class_click(classe)">
                              <div class="the_classes">{{ classe.nom_classe }}</div>
                          </b-list-group-item>
                      </b-list-group>
                  </b-card>
                <b-card class="list list_student" v-if="display_students">
                    <b-list-group>
                          <b-list-group-item button v-for="eleve in this.eleves" :key="eleve.id_eleve" @click="student_click(eleve)">
                              <div>{{ eleve.nom_eleve }} {{ eleve.prenom_eleve }} | {{ eleve.points_eleve }} points </div>
                          </b-list-group-item>
                      </b-list-group>
                  </b-card>
            </div>
            <Dashboard class="student_board" v-if="display_student_info" v-bind:api_url="api_url" v-bind:eleve="this.selected_student" />
        </div>
    </div>
</template>

<script>
import Dashboard from './Dashboard'
import GroupDisplay from './GroupDisplay'
import ManagerTabs from '../manager/ManagerTabs'
import AttaqueDisplay from './AttaqueDisplay'
import Questionnaire from '../questionnaire/Questionnaire'

export default {
    props: [
        "eleve",
        "api_url"
    ],
    name: 'Dashboard',
    components:{
        Dashboard,
        GroupDisplay,
        ManagerTabs,
        AttaqueDisplay,
        Questionnaire
    },
    data: function () {
        return {
            reload_icon:"cloud-arrow-down",
            is_prof:false,
            eleves: [],
            eleves_from_groupe: undefined,
            groupes: [],
            nom_nouveau_groupe: undefined,
            invitations: [],
            mon_groupe: undefined,
            selected_class: undefined,
            selected_student: undefined,
            display_groups: false,
            display_edit_mdp: false,
            display_manager:  false,
            display_classes: false,
            display_students: false,
            display_student_info: false,
            display_attack: false,
            chateaux:[],
            new_password: '',
            new_password_confirmation: '',
            old_password: '',
            les_attaques:[],
            quest_battle:[],
            aff: true,
            l_attaque : undefined,
            eleve_attaque : [],
            attaque_display_key: 5,
            do_questionnaire: false,
            id_questionnaire: undefined,
            current_id_attaque: undefined
            
        }
    },
    computed: {
        new_password_state(){
            if(this.new_password.trim() === ""){
                return null
            }else{
            return /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$/.test(this.new_password)
            }
        },
        new_password_confirmation_state(){
            if(this.new_password_confirmation.trim() === ""){
                return null
            }else if(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$/.test(this.new_password)){
                return (this.new_password === this.new_password_confirmation)
            }else{
                return null
            }
        }
    },
    methods:{
        on_reload(){
        },
        on_reload_over(){
            this.reload_icon = "cloud-arrow-down-fill"
        },
        on_reload_leave(){
            this.reload_icon = "cloud-arrow-down"
        },
        edit_mdp(){
            //TODO écrire une nouvelle procedure
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"update",
                    table:"Eleve",
                    pk:this.eleve.id_eleve,
                    attributes:[
                        {name:"mdp_eleve",value:this.new_password}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json()).then(result =>{
                console.log(result)
                if(result.err){
                    //TODO pop-up err
                    console.log(result)
                }else{
                    console.log("update succesfull")
                    //TODO pop-up cool
                }
            })
        },
        create_group() {
            if (this.nom_nouveau_groupe != undefined) {
                fetch(this.api_url,{
                    method: "POST",
                    body: JSON.stringify({
                        procedure:"create",
                        table:"Groupe",
                        attributes:[
                            //TODO Mettre un champ de texte pour pouvoir entrer le nom du groupe
                            {name:"nom_groupe",value:this.nom_nouveau_groupe},
                            {name:"chef_groupe",value:this.eleve.id_eleve}
                        ]
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .then(res => res.json())
                .then(result =>{
                    this.mon_groupe = result
                    this.reload_groupe_data()
                }).catch((err)=>{console.log(err)})
            }
            else {
                console.log("Entrez un nom valide");
            }
        },
        accept_invitation(invitation) {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"create",
                    table:"AssociationGroupeEleve",
                    attributes:[
                        {name:"groupe_association",value:this.mon_groupe.id_groupe},
                        {name:"eleve_association",value:invitation.eleve_invitation}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result =>{
                this.reload_groupe_data()
                console.log(result)
            }).catch((err)=>{console.log(err)})
            this.delete_all_invitation(invitation)
        },
        delete_invitation(invitation) {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"delete_one",
                    table:"Invitation",
                    pk:invitation.id_invitation
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if (result.err) {
                    console.log(result.err);
                }
                else {
                    this.reload_groupe_data()
                    console.log(result);
                }
            }).catch((err)=>{console.log(err)})
        },
        delete_all_invitation(invitation) {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"delete_invitations_from_eleve",
                    pk:invitation.eleve_invitation
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if (result.err) {
                    console.log(result.err);
                }
                else {
                    this.reload_groupe_data()
                    console.log(result);
                }
            }).catch((err)=>{console.log(err)})
        },
        delete_group() {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"delete_children_groupe",
                    pk:this.mon_groupe.id_groupe,
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if (result.err) {
                    console.log(result.err);
                }
                else {
                    console.log(result);
                    this.mon_groupe = undefined
                    this.reload_groupe_data()
                }
            }).catch((err)=>{console.log(err)})
        },
        leave_group() {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"remove_eleve_from_groupe",
                    groupe:this.mon_groupe.id_groupe,
                    eleve:this.eleve.id_eleve
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if (result.err) {
                    console.log(result.err);
                }
                else {
                    this.mon_groupe = undefined
                    this.reload_groupe_data()
                }
            }).catch((err)=>{console.log(err)})
        },
        /**
         * TODO la doc
         */
        click_list_class() {
            this.display_student_info = false
            this.display_students = false
            this.display_classes = !this.display_classes
        },
        /**
         * TODO la doc
         */
        class_click(classe) {
            this.display_student_info = false
            if (this.display_students == true && classe == this.selected_class) {
                this.display_students = false
                this.selected_class = undefined
            }
            else {
                this.display_students = true
                this.selected_class = classe
                fetch(this.api_url,{
                    method: "POST",
                    body: JSON.stringify({
                        procedure:"get_eleve_from_classe",
                        pk:this.selected_class.id_classe
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .then(res => res.json())
                .then(result => {
                    this.eleves = result
                }).catch((err)=>{console.log(err)})
            }
        },
        /**
         * TODO la doc
         */
        student_click(eleve) {
            if (this.display_student_info == true && eleve == this.selected_student) {
                this.display_student_info = false
                this.selected_student = undefined
            }
            else {
                this.display_student_info = true
                this.selected_student = eleve
            }
        },
        //fin attaques methods
        reload_groupe_data(){
            // get all groupe
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Groupe"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                this.groupes = result
            }).catch((err)=>{console.log(err)})

            // Récupération du groupe auquel appartient l'élève, ainsi que des membres du groupe
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_groupe_from_eleve",
                    pk:this.eleve.id_eleve
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if (!Array.isArray(result)) {
                    this.mon_groupe = result

                    // get eleves from groupes
                    fetch(this.api_url,{
                        method: "POST",
                        body: JSON.stringify({
                            procedure:"get_eleves_from_groupe",
                            pk_chef:result.chef_groupe,
                            pk_groupe:result.id_groupe
                        }),
                        headers: {
                            "content-type": "application/json"
                        }
                    })
                    .then(res => res.json())
                    .then(result => {
                        this.eleves_from_groupe = result
                    }).catch((err)=>{console.log(err)})
                }
                else {
                    console.log("L'élève n'appartient à aucun groupe");
                }

                if (result != undefined && result.chef_groupe==this.eleve.id_eleve) {

                    //get invitations from groupe
                    fetch(this.api_url,{
                        method: "POST",
                        body: JSON.stringify({
                            procedure:"get_invitations_from_groupe",
                            groupe:result.id_groupe
                        }),
                        headers: {
                            "content-type": "application/json"
                        }
                    })
                    .then(res => res.json())
                    .then(result => {
                        this.invitations = result
                    }).catch((err)=>{console.log(err)})
                }
            }).catch((err)=>{console.log(err)})

        },
        display_group(){
            this.display_groups = !this.display_groups
            if(this.display_groups){
                this.reload_groupe_data()
            }
        },
        reload_attaque_display(){
            console.log(this.attaque_display_key)
            this.attaque_display_key += 1
            console.log(this.attaque_display_key)
        },
        handle_do_questionnaire_event(chateau){
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"update_attaque_etat",
                    pk_attaque:chateau.attaque.id_attaque,
                    pk_eleve:this.eleve.id_eleve,
                    state:"ENCOURS",
                    score:-1
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                console.log("update attaque state",result)
                this.id_questionnaire = chateau.attaque.questionnaire_attaque
                this.do_questionnaire = true
                this.current_id_attaque = chateau.attaque.id_attaque
            })
            .catch((err)=>{console.log(err)})
        },
        handle_next_questionnaire_event(pts){
            let pts_eleve = -1
            if(pts > 0) pts_eleve = pts
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"update_attaque_etat",
                    pk_attaque:this.current_id_attaque,
                    pk_eleve:this.eleve.id_eleve,
                    state:"ENCOURS",
                    score:pts_eleve
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                console.log("update attaque state",result)
            })
            .catch((err)=>{console.log(err)})

        },
        handle_end_questionnaire_event(pts){
            console.log("state",pts)
            let pts_eleve = -1
            if(pts > 0) pts_eleve = pts
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"update_attaque_etat",
                    pk_attaque:this.current_id_attaque,
                    pk_eleve:this.eleve.id_eleve,
                    state:"FAIT",
                    score:pts_eleve
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                console.log("update attaque state",result)
            })
            .catch((err)=>{console.log(err)})

        },

    },
    mounted(){
        //SI PROF
        if(this.eleve.classe_eleve === "prof"){
            this.is_prof = true

            //Fetch toutes les classes
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Classe"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                this.classes = result
                for (var i = 0; i < this.classes.length; i++) {
                    if (this.classes[i].nom_classe === "prof") {
                        this.classes.splice(i, 1)
                    }
                }
            }).catch((err)=>{console.log(err)})

            //get de l'attaque
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all_attack_with_castle_and_group",
                    table:""
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                this.les_attaques = result
            }).catch((err)=>{console.log(err)})

            //get all questionnaires
             fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Questionnaire"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                this.quest_battle = result
            }).catch((err)=>{console.log(err)})

            //asso attaque élèves
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table: "AssociationEleveAttaque"
                }),
                headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json())
            .then(result => {
                if(result.err){
                    console.log(result.err)
                }else{
                    this.l_attaque = result

                    //get all elèves
                    fetch(this.api_url,{
                        method: "POST",
                        body: JSON.stringify({
                            procedure:"get_all",
                            table: "Eleve"
                        }),
                        headers: {
                            "content-type": "application/json"
                        }
                    }).then(res => res.json())
                    .then(es => {
                        let find = false
                        let i = 0
                        let eleve 
                        let attaque
                        result.forEach(element => {
                            i = 0
                            find = false
                            eleve = undefined
                            while(i<es.length && !find){
                                if(element.eleve_association == es[i].id_eleve){
                                    eleve= es[i]
                                    find = true
                                }
                                i++
                            }
                            if(find){
                                attaque = element
                                let sit_eleve ={
                                    eleve, 
                                    attaque,
                                }
                                this.eleve_attaque.push(sit_eleve)
                            }
                        });
                    })
                }
            })
        }
        else {

            this.reload_groupe_data()

            //get attack and castle from group
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all_attack_with_castle_and_group",
                    table:""
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                this.les_attaques = result
            }).catch((err)=>{console.log(err)})

            // get groupe et seigneur et castle
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_group_and_lord_with_castle",
                    pk:""
                }),
                headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json())
            .then(result => {
                if(result.err){
                    console.log(result.err)
                }else{
                    this.chateaux = result;
                }
            })

            // get all associations 
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table: "AssociationEleveAttaque"
                }),
                headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json())
            .then(result => {
                if(result.err){
                    console.log(result.err)
                }else{
                    let find = false
                    let b = 0
                    while(b<result.length && !find){
                        if(result[b].eleve_association == this.eleve.id_eleve){
                            this.l_attaque = result[b]
                            find = true
                        }
                        b++
                    }
                }
            })
        }
    }
}
</script>

<style scoped>
.outline{
    border: 2px solid black;
}
.more-padding{
    padding: 2rem;
}
.more-vertical-margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.the_lists{
    border: 1px solid white;
}
.list_class{
    float:left;
    margin-right: 40px;
}
.the_classes{
    padding-right: 5vw;
    padding-left: 5vw;
}
.list{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 300px;
    overflow-y: auto;
}
.student_board{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 3vh;
}
</style>
