<template>
    <div class="accordion" role="tablist">
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block v-b-toggle="''+this.groupe.id_groupe" variant="info" @click="group_click()">{{groupe.nom_groupe}}</b-button>
            </b-card-header>
            <b-collapse :id="this.groupe.id_groupe" accordion="group-accordion" role="tabpanel">
                <b-card-body v-if="eleves_from_groupe!=undefined" >
                    <b-card-text>
                        <b-icon font-scale="1.5" icon="sunglasses"></b-icon>
                        {{eleves_from_groupe.chef.nom_eleve}} {{eleves_from_groupe.chef.prenom_eleve}} [{{eleves_from_groupe.chef.points_eleve}} pts]
                    </b-card-text>
                    
                    <div v-if="eleves_from_groupe.eleves[0]!=undefined">
                        <b-card-text v-for="un_eleve in eleves_from_groupe.eleves" :key="un_eleve.id_eleve" >{{un_eleve.nom_eleve}} {{un_eleve.prenom_eleve}} [{{un_eleve.points_eleve}} pts]</b-card-text>
                    </div>
                    <b-button v-if="mon_groupe==undefined&&!est_mon_groupe&&!deja_demande" variant="info" @click="demande_rejoindre()">Demander à rejoindre le groupe</b-button>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>
export default {
    name:"GroupDisplay",
    components:{

    },
    props:[
        'api_url',
        'eleve',
        'groupe',
        'mon_groupe'
    ],
    data(){
        return {
            reload_icon:"cloud-arrow-down",
            eleves_from_groupe: undefined,
            est_mon_groupe: false,
            deja_demande:false
        }
    },
    methods:{
        /**
         * TODO la doc
         */
        group_click() {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"get_eleves_from_groupe",
                    pk_chef:this.groupe.chef_groupe,
                    pk_groupe:this.groupe.id_groupe
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                this.eleves_from_groupe = result
            }).catch((err)=>{console.log(err)})
        },
        demande_rejoindre() {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"create",
                    table:"Invitation",
                    attributes:[
                        {name:"groupe_invitation",value:this.groupe.id_groupe},
                        {name:"eleve_invitation",value:this.eleve.id_eleve}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result =>{
                console.log(result)
                this.reload_invitation()
            }).catch((err)=>{console.log(err)})
        },
        reload_invitation() {
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify({
                    procedure:"check_invitation",
                    pk_eleve:this.eleve.id_eleve,
                    pk_groupe:this.groupe.id_groupe
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result =>{
                this.deja_demande = result
            }).catch((err)=>{console.log(err)})
        }
    },
    mounted(){
        if (this.groupe.chef_groupe == this.eleve.id_eleve) {
            this.est_mon_groupe = true
        }
        this.reload_invitation()
    }
}
</script>
