<template>
    <div>
        <!--bootstrap card-->
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block variant="success" v-b-toggle.add_eleve>Ajouter un Eleve</b-button>
            </b-card-header>
            <b-collapse id="add_eleve" accordion="add-eleve-accordion" role="tabpanel">
                <b-card-body>
                    <b-form>
                        <b-row>
                        <!--input for the text of the Question (bind with new_question.texte)-->
                            <b-col>
                                <b-input-group prepend="Nom">
                                    <b-form-input type="text" v-model="new_eleve.nom_eleve" placeholder="Nom"></b-form-input>
                                </b-input-group>
                            </b-col>
                            <!--input for the index (number) of the Question (bind with new_question.number)-->
                            <b-col>                                
                                <b-input-group prepend="Prenom">
                                    <b-form-input type="text" v-model="new_eleve.prenom_eleve" placeholder="Prenom"></b-form-input>
                                </b-input-group>
                            </b-col>
                        </b-row>
                        <br>
                        <b-row>
                            <ClasseSelector :classes="classes" :classe_to_select="null" @select_classe_event="handle_select_event"/>
                        </b-row>
                        <br>
                        <b-row>
                            <!--submit button equivalent (click.prevent call on_new_reponse)-->
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_new" variant="success">Créer</b-button>
                            </b-col>
                            <!--reset form button (click.prevent call on_reset_reponse)-->
                            <b-col sm="auto">
                                <b-button @click.prevent="on_reset" variant="danger">Reset</b-button>
                            </b-col>
                        </b-row>
                        <b-form-text>L'identifiant sera de la forme : "NomPrenomID" et le mot de passe sera de la forme "NomPrenomMDP".</b-form-text>
                    </b-form>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>
import ClasseSelector from '../classe/ClasseSelector'

export default {
    name:"CreationEleve",
    components:{
        ClasseSelector
    },
    props:["classes"],
    data(){
        return{
            new_eleve:{
                nom_eleve:undefined,
                prenom_eleve:undefined,
                classe_eleve:undefined
            }
        }
    },
    methods:{
        on_new(){
            if(this.new_eleve.classe_eleve != null && this.new_eleve.nom_eleve.trim() !== "" && this.new_eleve.prenom_eleve.trim() !== ""){
                this.$emit("create_event",this.new_eleve)
            }else{
                console.log(" tous les champs doivent être renmplit")
                //TODO display error
            }
        },
        on_reset(){
            this.new_eleve = {
                nom_eleve:undefined,
                prenom_eleve:undefined,
                classe_eleve:undefined
            }
        },
        handle_select_event(id_classe){
            this.new_eleve.classe_eleve = id_classe
        }
    },
    mounted(){

    }
}
</script>

<style>

</style>