<template>
    <div>        
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-row>
                    <b-col  style="text-align: left;font-weight: bold" v-if="!edit_mode">
                        {{eleve.nom_eleve}}
                        {{eleve.prenom_eleve}}
                        {{eleve.classe.nom_classe}}
                        ({{eleve.id_login_eleve}},{{eleve.mdp_eleve}})
                        [{{eleve.points_eleve}} points]
                        <!-- <b-button variant="warning" v-b-toggle.dashboard_display @click="on_display_click">Tableau de bord</b-button> -->
                    </b-col>
                    <b-col v-if="edit_mode">
                        <b-form inline>
                            <b-col>
                            <b-input-group prepend="Nom">
                                <b-form-input type="text" v-bind:id="'eleve-nom-input'+this.eleve.id_eleve" v-model="edit_eleve.nom_eleve" placeholder="Nom" ></b-form-input>
                            </b-input-group>
                            </b-col>
                            <b-col>
                            <b-input-group prepend="Prenom">
                                <b-form-input type="text" v-bind:id="'eleve-prenom-input'+this.eleve.id_eleve" v-model="edit_eleve.prenom_eleve" placeholder="Prenom"></b-form-input>
                            </b-input-group>
                            </b-col>
                            <ClasseSelector :classes="all_classes" :classe_to_select="this.eleve.classe_eleve" @select_classe_event="handle_select_event"/>
                            <b-col>
                            <b-input-group prepend="Identifiant">
                                <b-form-input type="text" v-bind:id="'eleve-id-input'+this.eleve.id_eleve" v-model="edit_eleve.id_login_eleve" placeholder="Itdentifiant"></b-form-input>
                            </b-input-group>
                            </b-col>
                            <b-col>
                            <b-input-group prepend="Mot de passe">
                                <b-form-input type="text" v-bind:id="'eleve-mdp-input'+this.eleve.id_eleve" v-model="edit_eleve.mdp_eleve" placeholder="Mot de passe"></b-form-input>
                            </b-input-group>
                            </b-col>
                            <b-col>
                            <b-input-group prepend="Points">
                                <b-form-input type="number" v-bind:id="'eleve-pts-input'+this.eleve.id_eleve" v-model="edit_eleve.points_eleve"></b-form-input>
                            </b-input-group>
                            </b-col>
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_edit_validate" variant="success">Modifier</b-button>
                            </b-col>
                        </b-form>
                    </b-col>
                    <b-col sm="auto" class="h4 mb-2">
                        <b-icon :icon="edit_icon" @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave"></b-icon>

                        <b-icon :icon="delete_icon" @click="on_delete_click"  @mouseover="on_delete_over" @mouseleave="on_delete_leave"></b-icon>
                    </b-col>

                </b-row>
            </b-card-header>
            <!-- <b-collapse id="dashboard_display">
                <b-card-body>
                    <Dashboard :api_url="api_url" :eleve="eleve"/>
                </b-card-body>
            </b-collapse> -->
        </b-card>
    </div>
</template>

<script>
// import Dashboard from '../../dashboard/Dashboard'
import ClasseSelector from '../classe/ClasseSelector'

export default {
    name:"EleveDisplay",
    components:{
        // Dashboard,
        ClasseSelector
    },
    props:[
        "api_url",
        "eleve",
        "all_classes"
    ],
    data (){
        return{
            display_dash:false,
            edit_mode:false,
            edit_icon:"pencil",
            delete_icon:"trash",
            edit_eleve:{
                id_eleve:undefined,
                nom_eleve: undefined,
                prenom_eleve: undefined,
                points_eleve: undefined,
                mdp_eleve: undefined,
                id_login_eleve: undefined
            }
        }
    },
    methods:{
        //methods call to handle events emited by subcomponents,
        on_edit_over(){
            this.edit_icon = "pencil-fill"
        },
        on_edit_leave(){
            this.edit_icon = "pencil"
        },
        on_edit_click(){
            this.edit_mode = !this.edit_mode
        },
        on_delete_over(){
            this.delete_icon = "trash-fill"
        },
        on_delete_leave(){
            this.delete_icon = "trash"
        },
        on_delete_click(){
            this.$emit("delete_event",this.eleve.id_eleve)
        },
        on_display_click(){
            this.display_dash = !this.display_dash
        },
        on_edit_validate(){
            this.edit_mode = false
            this.$emit("edit_event",this.edit_eleve)
        },
        //other methods,
        handle_select_event(id_classe){
            this.edit_eleve.classe_eleve = id_classe
        }
    },
    mounted(){
        Object.keys(this.edit_eleve).forEach(element => {
            this.edit_eleve[element] = this.eleve[element]
        });
    }
}
</script>

<style>

</style>