<template>
    <div>
        <div v-for="eleve in eleves" :key="eleve.id_eleve">
            <EleveDisplay :api_url="api_url" :eleve="eleve" :all_classes="classes" @edit_event="handle_edit_event" @delete_event="handle_delete_event"/>
        </div>
        <CreationEleve :classes="classes" @create_event="handle_create_event"/>
    </div>
</template>

<script>
import EleveDisplay from './EleveDisplay'
import CreationEleve from './CreationEleve'

export default {
    name:"ManagerEleve",
    components:{
        EleveDisplay,
        CreationEleve
    },
    props:[
        'api_url','eleves','classes'
    ],
    data(){
        return {
            //classes:[]
        }
    },
    methods:{
        handle_edit_event(edited_eleve){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"update",
                    table:"Eleve",
                    pk:edited_eleve.id_eleve,
                    attributes:[
                        {name:"nom_eleve",value:edited_eleve.nom_eleve},
                        {name:"prenom_eleve",value:edited_eleve.prenom_eleve},
                        {name:"classe_eleve",value:edited_eleve.classe_eleve},
                        {name:"id_login_eleve",value:edited_eleve.id_login_eleve},
                        {name:"mdp_eleve",value:edited_eleve.mdp_eleve}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then((result)=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.$emit("reload_event")
                }
            })
            .catch((err)=>console.log(err))
        },
        handle_delete_event(id){

            this.$bvModal.msgBoxConfirm("Cet élève sera suprimé", {
                title: 'Confirmer la suppresion :',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                 okTitle: 'OUI',
                cancelTitle: 'NON',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then((response)=>{

                if(response){
                    fetch(this.api_url,{
                        method:"POST",
                        body: JSON.stringify({
                            procedure:"delete_one",
                            table:"Eleve",
                            pk:id
                        }),
                        headers: {
                            "content-type": "application/json"
                        }
                    })
                    .then(res=>res.json())
                    .then((result)=>{
                        if(result.err != undefined){
                            console.log(result.err)
                        }else{
                            this.$emit("reload_event")
                        }
                    })
                    .catch((err)=>console.log(err))


                }

            })


        },
        handle_create_event(new_eleve){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"create",
                    table:"Eleve",
                    attributes:[
                        {name:"id_login_eleve",value:""+new_eleve.nom_eleve+new_eleve.prenom_eleve+"ID"},
                        {name:"mdp_eleve",value:""+new_eleve.nom_eleve+new_eleve.prenom_eleve+"MDP"},
                        {name:"nom_eleve",value:new_eleve.nom_eleve},
                        {name:"prenom_eleve",value:new_eleve.prenom_eleve},
                        {name:"points_eleve",value:0},
                        {name:"classe_eleve",value:new_eleve.classe_eleve}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then((result)=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.$emit("reload_event")
                }
            })
            .catch((err)=>console.log(err))
        }
    },
    mounted(){
        //fetch all classes for edit and create Eleve
        // fetch(this.api_url,{
        //     method:"POST",
        //     body: JSON.stringify({
        //         procedure:"get_all",
        //         table:"Classe"
        //     }),
        //     headers: {
        //         "content-type": "application/json"
        //     }
        // })
        // .then(res=>res.json())
        // .then((result)=>{
        //     if(result.err != undefined){
        //         console.log(result.err)
        //     }else{
        //         this.classes = result;
        //     }
        // })
        // .catch((err)=>console.log(err))
    }
}
</script>

<style>

</style>