<template>
 <header>
    <div v-if="!isMobile()">
        <desktop>
            <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top">
                <img src="../../assets/logoGoM.png" alt="Game Of Maths" width="250" height="35" >

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <!--TODO reload les components display voir avec App-->
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item @click="display(accueil)">Accueil</b-nav-item>
                    </b-navbar-nav>
                    <b-navbar-nav>
                        <b-nav-item @click="display(dashboard)">Tableau de bord</b-nav-item>
                    </b-navbar-nav>
                    <b-navbar-nav>
                        <b-nav-item @click="display(qcm)">Questionnaire</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item-dropdown text="Lang" right>
                        <template slot="button-content">{{this.eleve.nom_eleve}} {{this.eleve.prenom_eleve}}</template>
                        <b-dropdown-item >Vous avez {{this.eleve.points_eleve}} points !</b-dropdown-item>
                        <b-dropdown-item @click="logout">Déconnexion</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </desktop>
    </div>
    <div v-else>
        <mobile>
            <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top">
                <img src="../../assets/logoGoM.png" alt="Game Of Maths" width="250" height="35" >

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <!--TODO reload les components display voir avec App-->
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item @click="display(accueil)">Accueil</b-nav-item>
                    </b-navbar-nav>
                    <b-navbar-nav>
                        <b-nav-item @click="display(dashboard)">Tableau de bord</b-nav-item>
                    </b-navbar-nav>
                    <b-navbar-nav>
                        <b-nav-item @click="display(qcm)">Questionnaire</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item-dropdown text="Lang" right>
                        <template slot="button-content">{{this.eleve.nom_eleve}} {{this.eleve.prenom_eleve}}</template>
                        <b-dropdown-item >Vous avez {{this.eleve.points_eleve}} points !</b-dropdown-item>
                        <b-dropdown-item @click="logout">Déconnexion</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
                <img id="image" src="../../assets/logoGoM.png" alt="Game Of Maths" class="smartphone">
            </b-navbar>
            
        </mobile>
    </div>
    <div>
        
    </div>
 </header>
</template>

<script>
export default {
    props: [
        "eleve"
    ],
    data(){
        return{
            is_prof:false,
            is_eleve:true,
            accueil:0,
            dashboard:1,
            qcm:2      
        }
    },
    methods:{
        display(component){
            let valid_component = true
            let paiload = {to_display:[]}
            if(component === this.accueil){
                paiload.to_display.push("accueil_map")
            }else if(component === this.dashboard){
                if(this.is_prof){
                    paiload.to_display.push("dashboard")
                }else{
                    paiload.to_display.push("dashboard")
                }
            }else if(component === this.qcm){
                paiload.to_display.push("questionnaire_panel")                
            }else{
                valid_component = false
            }

            if(valid_component){
                this.$emit("display_event",paiload)
            }
        },
        logout(){
            this.$emit("logout_event")
        },
        isMobile() {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                return true
            } else {
                return false
            }
        }
    },
    mounted(){
        if(this.eleve.classe_eleve === "prof"){
            this.prof = true
        }
    }
}
</script>

<style scoped>
/*
Personnalisation du background header
*/ 
 .navbar.navbar-dark.bg-dark{
    background-color: #835602b4!important;
 }
/*
Personnalisation de la couleur du texte header
*/ 
 ::v-deep .nav-link {
   color: rgb(255, 255, 255)!important;
}

.smartphone {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

</style>