<template>
    <header>
        <div v-if="!isMobile()">
            <desktop>
                <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top">
                    <img src="../../assets/logoGoM.png" alt="Game Of Maths" width="250" height="35" >

                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                    <b-collapse id="nav-collapse" is-nav>
                        <b-navbar-nav>
                            <b-nav-item @click="display_accueil">Accueil</b-nav-item>
                        </b-navbar-nav>

                        <!-- Right aligned nav items -->
                        <b-navbar-nav class="ml-auto">
                            <b-nav-form>
                                <b-form-input size="sm" class="mr-sm-2" placeholder="Identifiant" v-model="id"></b-form-input>
                                <b-form-input size="sm" class="mr-sm-2"  type="password" placeholder="Mot de passe" v-model="pw"></b-form-input>
                                <b-button size="sm" class="my-2 my-sm-0" @click.prevent="try_login">Connexion</b-button>
                            </b-nav-form>
                        </b-navbar-nav>
                    </b-collapse>
                </b-navbar>
            </desktop>
        </div>
        <div v-else>
            <mobile>
                <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top">

                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                    <b-collapse id="nav-collapse" is-nav>
                        <b-navbar-nav>
                            <b-nav-item @click="display_accueil">Accueil</b-nav-item>
                        </b-navbar-nav>

                        <!-- Right aligned nav items -->
                        <b-navbar-nav class="ml-auto">
                            <b-nav-form>
                                <b-form-input size="sm" class="mr-sm-2" placeholder="Identifiant" v-model="id"></b-form-input>
                                <b-form-input size="sm" class="mr-sm-2"  type="password" placeholder="Mot de passe" v-model="pw"></b-form-input>
                                <b-button size="sm" class="my-2 my-sm-0" @click.prevent="try_login">Connexion</b-button>
                            </b-nav-form>
                        </b-navbar-nav>
                    </b-collapse>
                    <img id="image" src="../../assets/logoGoM.png" alt="Game Of Maths" class="smartphone">
                </b-navbar>
            </mobile>
        </div>
        
    </header>
</template>

<script>
export default {
    data() {
        return{
            id:'',
            pw:''
        }
    },
    methods: {
        display_accueil(){
            this.$emit('display_event',{to_display:["accueil_default"]});
        },
        try_login(){
            this.$emit("login_event",{id:this.id, mdp:this.pw});
        },
        isMobile() {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                return true
            } else {
                return false
            }
        }
    }
}
</script>

<style scoped>
/*
Personnalisation du background header
*/ 
 .navbar.navbar-dark.bg-dark{
    background-color: #835602b4!important;
 }
 
/*
Personnalisation de la couleur du texte header
*/ 
 ::v-deep .nav-link {
   color: rgb(255, 255, 255)!important;


}

.smartphone {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

</style>