<template>
    <div>
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <div style="text-align: left;font-weight: bold">
                    <div v-if="questionnaire_mode">
                        Questionnaires
                        <!-- TODO if time filter <ThemeSelector :themes="themes" :theme_to_select="null"/> -->
                    </div>
                    <div v-if="classe_mode">
                        Classes
                    </div>
                    <div v-if="eleve_mode">
                        Eleves
                        <!-- TODO if time filter <ClasseSelector :classes="classes" :theme_to_select="null"/> -->
                    </div>
                    <div v-if="theme_mode">
                        Thèmes
                    </div>
                </div>
            </b-card-header>
            <b-card-body>
                <b-row>
                    <b-col sm="auto">
                        <b-pagination v-model="current_page_index" :totalRows="total_item_number" :per-page="max_item_displayed" @change="on_change" ></b-pagination>
                    </b-col>
                    <b-col style="text-align: left;font-weight: bold">
                        <b-icon :icon="reload_icon" font-scale="1.8" @click="on_reload" @mouseover="on_reload_over" @mouseleave="on_reload_leave"></b-icon>
                    </b-col>
                </b-row>
                <div v-if="classe_mode">
                    <ManagerClasse v-bind:api_url="api_url" v-bind:classes="data" @reload_event="on_reload"/>
                </div>
                <div v-if="eleve_mode">
                    <ManagerEleve v-bind:api_url="api_url" v-bind:classes="classes" v-bind:eleves="data" @reload_event="on_reload"/>
                </div>
                <div v-if="theme_mode">
                    <ManagerTheme v-bind:api_url="api_url" v-bind:themes="data" @reload_event="on_reload"/>
                </div>
                <div v-if="questionnaire_mode">
                    <ManagerQuestionnaire v-bind:api_url="api_url" v-bind:questionnaires="data" @reload_event="on_reload"/>
                </div>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
import ManagerQuestionnaire from './questionnaire/ManagerQuestionnaire'
import ManagerClasse from './classe/ManagerClasse'
import ManagerEleve from './eleve/ManagerEleve'
import ManagerTheme from './theme/ManagerTheme'

export default {
    name:"IndexedViewer",
    components:{
        ManagerQuestionnaire,
        ManagerClasse,
        ManagerEleve,
        ManagerTheme
    },
    props:[
        'api_url',
        'mode'
    ],
    data() {
        return{
            max_item_displayed:5,
            total_item_number:0,
            current_page_index:1,
            data:[],
            classe_mode:false,
            eleve_mode:false,
            theme_mode:false,
            groupe_mode:false,
            questionnaire_mode:false,
            themes:[],
            classes:[],
            reload_icon:"cloud-arrow-down"
        }
    },
    methods:{
        on_reload(){
            this.on_change(this.current_page_index)
        },
        on_reload_over(){
            this.reload_icon = "cloud-arrow-down-fill"
        },
        on_reload_leave(){
            this.reload_icon = "cloud-arrow-down"
        },
        on_change(index){
            this.get_data((index*this.max_item_displayed)-this.max_item_displayed+1)
        },
        get_data(first_index){        
        
            //get all classes
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Classe"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.classes = result
                    // TODO display error
                }
            })

            //get all themes
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Theme"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.themes = result
                    // TODO display error
                }
            })

            if(this.questionnaire_mode){
                this.get_questionnaire_data(first_index)
            }else if(this.groupe_mode){
                console.log("TODO")
            }else if(this.classe_mode){
                this.get_classe_data(first_index)
            }else if(this.theme_mode){
                this.get_theme_data(first_index)           
            }else if(this.eleve_mode){
                this.get_eleve_data(first_index)
            }
        },
        get_classe_data(first_index){            
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_classe_indexed",
                    index:first_index,
                    gap:this.max_item_displayed
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log("err",result.err)
                    // TODO display error
                }else{
                    if(result.item_number != undefined && result.data != undefined){
                        console.log("res",result)
                        this.total_item_number = result.item_number
                        this.data = result.data
                    }else{
                        console.log("incomplete HTTP response, item_number or data missing",result)
                        //TODO display error
                    }
                }
            })
        },
        get_eleve_data(first_index){            
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_eleve_indexed",
                    index:first_index,
                    gap:this.max_item_displayed
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log("err",result.err)
                    // TODO display error
                }else{
                    if(result.item_number != undefined && result.data != undefined){
                        this.total_item_number = result.item_number
                        this.data = result.data
                    }else{
                        console.log("incomplete HTTP response, item_number or data missing",result)
                        //TODO display error
                    }
                }
            })

        },
        get_questionnaire_data(first_index){
            fetch(this.api_url,{
                method:"POST",
                body:JSON.stringify({
                    procedure:"get_hierarchical_representation_indexed",
                    index:first_index,
                    gap:this.max_item_displayed
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(result => {
                if(result.err != undefined){
                    console.log(result.err)
                    //TODO display error
                }else{
                    if(result.item_number != undefined && result.data != undefined){
                        this.total_item_number = result.item_number
                        this.data = result.data
                    }else{
                        console.log("incomplete HTTP response, item_number or data missing",result)
                        //TODO display error
                    }
                }
            })
        },
        get_theme_data(first_index){            
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_indexed",
                    table:"Theme",
                    index:first_index,
                    gap:this.max_item_displayed
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    if(result.item_number != undefined && result.data != undefined){
                        this.total_item_number = result.item_number
                        this.data = result.data
                    }else{
                        console.log("incomplete HTTP response, item_number or data missing",result)
                        //TODO display error
                    }
                }
            })            
        }
    },
    mounted(){
        //Set the curent mode and get data
        if(this.mode != null && this.mode != undefined){

            this[this.mode] = true
            
            this.get_data(1)
        }else{
            console.log("mode:",this.mode)
        }
    }
}
</script>

<style>

</style>