<template>
    <div>
        <b-card no-body>
            <b-tabs card>
                <b-tab title="Eleve">
                    <IndexedViewer mode="eleve_mode" v-bind:api_url="api_url"/>
                </b-tab>
                <b-tab title="Classe">
                    <IndexedViewer mode="classe_mode" v-bind:api_url="api_url"/>
                </b-tab>
                <b-tab title="Theme">
                    <IndexedViewer mode="theme_mode" v-bind:api_url="api_url"/>
                </b-tab>
                <b-tab title="Questionnaire">
                    <IndexedViewer mode="questionnaire_mode" v-bind:api_url="api_url"/>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script>
import IndexedViewer from './IndexedViewer'

export default { 
    name:"ManagerTabs",
    components:{
        IndexedViewer
    },
    props:[
        'api_url'
    ]
}
</script>

<style>

</style>