<!-- Ce composant représente une question -->
<template>
    <div id="quest" class="container">
        <b-card :header="this.question.titre_question" header-tag="header">
            <ImageSelect v-if="is_picture" v-bind:id_image="id_image" :api_url="api_url" class="img-fluid"/>
            <b-list-group>
                <b-list-group-item button v-for="reponse in this.question.reponses" :key="reponse.id_reponse" @click="action(reponse.numero_reponse)" v-bind:variant="color(reponse.numero_reponse)">
                    {{ reponse.texte_reponse }}
                </b-list-group-item>
            </b-list-group>
            <h1 v-if="correct && display_continue">Points gagnés : {{this.question.points_question}} </h1>
            <h1 v-if="!correct && display_continue">Vous n'avez pas gagnné de points ! </h1>
            <b-button v-if="display_validation" @click="validation" class="mt-4">Valider la réponse.</b-button>
            <b-button v-if="display_continue" @click="next" class="mt-4">Continuer !</b-button>
        </b-card>
    </div>
</template>

<script>

import ImageSelect from '../picture/ImageSelect.vue'

export default {
    //TODO refaire la doc
    props: [
        'api_url',
        'question'
    ],
    name: 'QuestionQCM',
    computed: {
    },
    data: function () {
        return {
            selected_reponse: undefined,
            display_validation: true,
            display_continue: false,
            correct : false,
            is_picture : false,
            id_image : ""
        }
    },
    components: {
        ImageSelect
    },
    methods: {
        action: function(numero) {
            this.selected_reponse = this.question.reponses[numero]
        },        
        color(numero){
            if(this.selected_reponse != undefined && this.selected_reponse.numero_reponse === numero){
                return "warning"
            }else{
                return "light"
            }
        },
        validation: function(){
            this.display_validation = false;

            let numero_bonne_reponse = this.question.bonne_reponse_question
            if(this.selected_reponse.numero_reponse === numero_bonne_reponse){
                this.correct = true
            }

            this.display_continue = true;
        },
        /**
         * Une fois qu'on appuie sur 'Continuer !',
         * si on a bien répondu, on envoie les points de la question à Questionnaire.vue.
         * Sinon, on envoie 0.
         */
        next: function() {
            this.$emit('end_question_event', this.correct);
        }
    },
    mounted(){
        if(this.question.image_question != ""){ 
            this.is_picture = true
            this.id_image = this.question.image_question
        }
        this.question.reponses.forEach(() => {
            console.log("here")
        });
    }
}
</script>

<style scoped>
.responsive {
  width: 100%;
  height: auto;
}
</style>
