<!-- Affiche la liste des questionnaires disponibles et permet de revenir à l'accueil -->

<template>
    <div id="" class="container">
        <h1 class="mb-4">Liste des Questionnaires :</h1>
            <b-card>
                <b-list-group>
                      <b-list-group-item button v-for="questionnaire in this.questionnaires" :key="questionnaire.id_questionnaire" @click="display_qcm(questionnaire.id_questionnaire)">
                          {{ questionnaire.titre_questionnaire }}
                      </b-list-group-item>
                  </b-list-group>
              </b-card>
        <b-button @click="display_theme" class="mt-4">Retour</b-button>
    </div>
</template>

<script>



export default {
    props: [
        // La donnée score est synchronisée avec App.vue
        "api_url",
        "theme"
    ],
    name: 'QuestionnaireList',
    data: function () {
        return {
            questionnaires: []
        }
    },
    methods :{
        /**
         * Permet de retourner à l'accueil.
         */
        display_theme(){
            this.$emit('display_event',{to_display:"theme_list"});
        },
        /**
         * Permet d'accéder au questionnaire sélectionné.
         */
        display_qcm(id_questionnaire){
            this.$emit('display_event',{to_display:"questionnaire",id:id_questionnaire});
        }
    },
    mounted(){
        fetch(this.api_url,{
            method: "POST",
            body: JSON.stringify({
                procedure:"get_questionnaire_from_theme",
                pk:this.theme
            }),
            headers: {
                "content-type": "application/json"
            }
        })
        .then(res => res.json())
        .then(result => {
            this.questionnaires = result
        })    
    }
}
</script>

<style>
</style>
