<!-- Ce composant représente une question -->

<template>
    <div id="quest" class="container">
        
        <b-card :header="this.question.titre_question" header-tag="header">
             <ImageSelect v-if="is_picture" v-bind:id_image="id_image" :api_url="api_url" class="img-fluid"/>
            <b-nav-form v-if="!display_continue" @submit.prevent="validation">
                <b-form-textarea size="sm" class="mr-sm-2" placeholder="Entrez une réponse" v-model="edited_text"></b-form-textarea>
                <b-button  v-if="!display_continue" size="sm" class="my-2 my-sm-0" type="submit">Valider la réponse !</b-button>
            </b-nav-form>
            <div v-if="display_continue">Votre réponse est : "{{this.edited_text}}"</div>
            <h1 v-if="correct && display_continue">Points gagnés : {{this.question.points_question}} </h1>
            <h1 v-if="!correct && display_continue">Vous n'avez pas gagné de points ! </h1>
            <b-button v-if="display_continue" @click="next" class="mt-4">Continuer !</b-button>
      </b-card>
    </div>
</template>

<script>

import ImageSelect from '../picture/ImageSelect.vue'

export default {
    //TODO refaire la doc
    props: [
        'api_url',
        'question'
    ],
    name: 'QuestionOuverte',
    data: function () {
        return {
            display_continue: false,
            repondu: false,
            correct: false,
            edited_text:'',
            is_picture : false,
            id_image : ""
        }
    },
    components: {
        ImageSelect
    },
    methods: {
        /**
         * Cette fonction se lance dès lors qu'on choisit une réponse.
         * Met à jour les booleans en fonction de si la réponse est bonne ou non
         * @param y l'indice de la réponse sélectionnée
         */
        validation: function() {
            this.correct = (this.edited_text.trim() === this.question.reponses[0].texte_reponse.trim())
            this.display_continue = true
        },
        /**
         * Une fois qu'on appuie sur 'Continuer !',
         * si on a bien répondu, on envoie les points de la question à Questionnaire.vue.
         * Sinon, on envoie 0
         */
        next: function() {
            this.$emit('end_question_event', this.correct);
        }
    },
    mounted(){
        if(this.question.image_question != ""){ 
            this.is_picture = true
            this.id_image = this.question.image_question
        }
    }
}
</script>

<style scoped>
.responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
</style>
