<!-- Ce composant sert d'intermédiaire entre les questions et Quiz.vue -->

<template>
    <div id="questionnaire" class="container">
        <h1>{{this.questionnaire.titre_questionnaire}}</h1>
        <QuestionQCM v-if="affiche && qcm" :api_url="api_url" :question="current_question" @end_question_event="next_question" />
        <QuestionOuverte v-if="affiche && ouverte" :api_url="api_url" :question="current_question" @end_question_event="next_question" />
        <h1>Score actuel : {{this.score}} </h1>
        <div v-if="end">
            Questionnaire terminé !
            <br>
            <b-button @click="display_theme" class="mt-4">Retour</b-button>
        </div>
    </div>
</template>

<script>
import QuestionQCM from './QuestionQCM.vue'
import QuestionOuverte from './QuestionOuverte'

export default {
    props: [
        'api_url',
        'id_questionnaire'
    ],
    name: 'Questionnaire',
    components: {
        QuestionQCM,
        QuestionOuverte
    },
    data: function() {
        return {
            questionnaire:undefined,
            current_question:undefined,
            score: 0,
            index: 0,
            affiche : false,
            ouverte: false,
            qcm: false,
            end: false
        }
    },
    methods: {
    display_theme(){
        this.$emit('display_event',{to_display:"theme_list"});
    },
    next_question(result){
        if(result){
            this.score += this.current_question.points_question
            this.$emit('next_questionnaire_event',this.score)
        }
        this.affiche = false;
        this.qcm = false;
        this.ouverte = false;
        this.index++
        if(this.index != this.questionnaire.questions.length){
            if(this.questionnaire.questions[this.index].reponses.length != 0){
                this.current_question = this.questionnaire.questions[this.index]
                if(this.current_question.type_question === "OUVERTE"){
                    this.ouverte = true
                }else{
                    this.qcm = true
                }
                this.affiche = true
            }else{
                this.next_question(false)
            }
        }else{
            this.end = true
            this.$emit('end_questionnaire_event',this.score);
        }
      }
    },
    mounted(){
        fetch(this.api_url,{
            method: "POST",
            body: JSON.stringify({        
                procedure:"get_hierarchical_representation_one",
                pk:this.id_questionnaire
            }),
            headers: {
              "content-type": "application/json"
            }
        })
        .then(res => res.json())
        .then(result => {
            console.log("result",result)
            this.questionnaire = result;
            if(this.questionnaire.questions.length != 0){
                let question_displayed = false
                while(!question_displayed){
                    this.current_question = this.questionnaire.questions[this.index]
                    if(this.current_question.reponses.length != 0){
                        if(this.current_question.type_question === "OUVERTE"){
                            this.ouverte = true
                        }else{
                            this.qcm = true
                        }
                        this.affiche = true;   
                        question_displayed = true                   
                    }else if(this.index == this.questionnaire.questions.length){
                        question_displayed = true
                        //TODO display error tt les questions vides
                    }else{
                        this.index++
                    }
                }
            }else{
              //TODO display error pas de questions
            }
        })
        .catch((err)=>{console.log(err)})
    }
  }
</script>

<style scoped>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
