<template>
    <div>
        <div v-if="error">
            <!--TODO erreur-->
        </div>
        <div v-if="display_end_questionnaire">
            <!-- TODO
                Informations questionnaire + points
                Bouton retour acceuil
                Bouton retour aux deux listes
            -->
        </div>
        <ThemeList v-if="display_theme_list" v-bind:classe="eleve.classe_eleve" :api_url="api_url" @display_event="handle_display_event"/>
        <QuestionnaireList v-if="display_questionnaire_list" v-bind:theme="theme" :api_url="api_url" @display_event="handle_display_event" />
        <Questionnaire v-if="display_questionnaire" v-bind:id_questionnaire="id_questionnaire" :api_url="api_url" @display_event="handle_display_event" @end_questionnaire_event="handle_end_questionnaire_event"/>
    </div>
</template>

<script>
import QuestionnaireList from './QuestionnaireList'
import ThemeList from './ThemeList'
import Questionnaire from './Questionnaire'

export default {
    props:[
        "api_url",
        "eleve"
    ],
    components:{
        QuestionnaireList,
        Questionnaire,
        ThemeList
    },
    data(){
        return{
            display_theme_list:false,
            display_questionnaire_list:false,
            display_questionnaire:false,
            display_end_questionnaire:false,
            error:false,
            theme:undefined,
            id_questionnaire:undefined
        }
    },
    methods:{
        handle_display_event: function(event){
            console.log("display_event",event)
            if(event.to_display){
                    this.display_theme_list = false
                    this.display_questionnaire_list = false
                    this.display_questionnaire = false
                if(event.to_display === "theme_list"){
                    this.display_theme_list = true
                }else if(event.to_display === "questionnaire_list"){
                    if(event.theme){
                        this.theme = event.theme
                        this.display_questionnaire_list = true
                    }else{
                        //TODO display error
                    }
                }else if(event.to_display === "questionnaire"){
                    if(event.id){
                        this.id_questionnaire = event.id
                        this.display_questionnaire = true
                    }else{
                        //TODO display error
                    }
                }else if(Array.isArray(event.to_display)){
                    this.$emit("display_event",{to_display:event.to_display})
                }
            }else{
                //TODO display error
            }
        },
        handle_end_questionnaire_event: function(score){
            //TODO test le score
            if(score > 0){
                fetch(this.api_url,{
                    method: "POST",
                    body: JSON.stringify({
                        procedure:"update",
                        table:"Eleve",
                        pk:this.eleve.id_eleve,
                        attributes:[
                            {name:"points_eleve",value:this.eleve.points_eleve+score}
                        ]
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .then(res => res.json())
                .then(result => {
                    if(result.err){
                        console.log(result.err)
                    }else{
                        this.eleve.points_eleve += score
                    }
                })
                .catch((err)=>{console.log(err)})
            }
        }
    },
    mounted(){
        this.display_theme_list = true
        this.display_questionnaire_list = false
        this.display_questionnaire = false
        this.display_end_questionnaire = false
    }
}
</script>

<style>

</style>