<!-- Affiche la liste des themes disponibles et permet de revenir à l'accueil -->

<template>
    <div id="" class="container">
        <h1 class="mb-4">Liste des Thèmes :</h1>
            <b-card>
                <b-list-group>
                      <b-list-group-item button v-for="theme in this.themes" :key="theme.id_theme" @click="display_list(theme.id_theme)">
                          {{ theme.nom_theme }}
                      </b-list-group-item>
                  </b-list-group>
              </b-card>
        <b-button @click="display_accueil" class="mt-4">Retour</b-button>
    </div>
</template>

<script>



export default {
    props: [
        // La donnée score est synchronisée avec App.vue
        "api_url",
        "classe"
    ],
    name: 'ThemeList',
    data: function () {
        return {
            themes: []
        }
    },
    methods :{
        /**
         * Permet de retourner à l'accueil.
         */
        display_accueil(){
            this.$emit('display_event',{to_display:["accueil_map"]});
        },
        /**
         * Permet d'accéder au theme sélectionné.
         */
        display_list(id_theme){
            this.$emit('display_event',{to_display:"questionnaire_list",theme:id_theme});
        }
    },
    mounted(){
        fetch(this.api_url,{
            method: "POST",
            body: JSON.stringify({
                procedure:"get_theme_from_classe",
                pk:this.classe
            }),
            headers: {
                "content-type": "application/json"
            }
        })
        .then(res => res.json())
        .then(result => {
            console.log("theme result",result)
            this.themes = result.filter(theme =>theme.show_theme == true)
        }).catch((err)=>{console.log(err)})    
    }
}
</script>

<style>
</style>
