<template>
    <img :src="image" class="img-fluid"/>
</template>

<script>
export default {
    props: [
        'api_url',
        'id_image'
    ],
    name: 'ImageSelect',
    data(){
        return{
            image : ""
        }
    },
    //Prend l'image avec l'inde correspondant
    mounted(){
        console.log("in image")
        fetch(this.api_url,{
            method: "POST",
            body: JSON.stringify({
                procedure:"get_one",
                table: "Image",
                pk : this.id_image
            }),
            headers: {
                "content-type": "application/json"
            }
        }).then(res => res.json())
        .then(result => {
            if(result.err){
                console.log(result.err)
            }else{
                this.image = result.the_picture;
            }
        })
    }
}
</script>

<style>
.img-fluid{
    /*Mofifie la taille de l'image*/ 
    width: 25% ;
}
</style>
