<template> 
    <div>
        <div v-if="see">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Selecteur d'images de la bdd</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" @click="close">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <b-form  enctype="multipart/form-data">
                                        <div class="fields">
                                            <label>Importer une image en dessous de 175 kb </label><br/>
                                            <input type="file" ref="file" @change="onSelect"/>
                                        </div>
                                        <div class="fields" v-if="choose_image">
                                            <b-form-input  size="sm" class="mr-sm-2" placeholder="Nom de l'image" v-model="picture_name" required></b-form-input>
                                            <b-button @click.prevent="onSubmit">Submit</b-button>
                                        </div>
                                    </b-form>
                                    <b-dropdown id="dropdown-1" text="Choississez une image" class="m-md-2" >
                                        <b-dropdown-item v-for="picture in this.images" :key="picture.id_image" @click="action(picture.id_image)">
                                            {{picture.nom_image}}
                                        </b-dropdown-item>
                                    </b-dropdown>
                                    <div v-if="see_picture">
                                        <img :src="image" class="responsive"/> 
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <b-button type="button" class="btn btn-primary" @click="close">Fermer</b-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
        <b-button @click="see = true">Ajouter une image</b-button>
    </div>
    
</template>

<script>
export default {
    name:'PictureUpload',
    props:[
        "api_url","question"
    ],
    data(){
        return{
            images:[],
            see : false,
            see_picture: false,
            image : undefined,
            file:"",
            picture_name:"", 
            choose_image: false,
            base64 :"",

        }
    },
    methods: {
        // Choisi une image à afficher
        action: function(id){
            if(id != null && id != undefined){
                fetch(this.api_url,{
                    method:'POST',
                    body: JSON.stringify({
                        procedure:'update',
                        table:'Question',
                        pk:this.question.id_question,
                        attributes:[{name:"image_question",value:id}]
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .then(res=>res.json())
                .then((result)=>{
                    console.log(result)

                    this.see_picture = true;
                    let index = 0;
                    let find = false;
                    while(index < this.images.length && find == false){
                        if(this.images[index].id_image == id){
                            find = true;
                        }else{
                            index ++;
                        }
                    }
                    if(index >= this.images.length){
                        console.log("error")
                        this.image = this.images[index-1].the_picture;
                    }else{
                        console.log("good")
                        this.image = this.images[index].the_picture;
                    }

                })
                .catch((err)=>console.log(err))
            }
        },
        close: function(){
            this.see = false;
            this.see_picture = false;
            this.id = undefined;
            this.choose_image = false;
        },
        //Vérifie si le fichier est correct
        onSelect(){
            const allowedTypes = ["image/jpeg", "image/jpg", "image/png"];
            const file = this.$refs.file.files[0];
            //vérifie si l'image est trop grande
            if(file.size > 157286){
                this.choose_image = false;
                alert("File is too big!");
            //vérifie si le fichier est une image
            }else if(!allowedTypes.includes(file.type)){
                console.log("error")
                this.choose_image = false;
                alert("Filetype is wrong!!");
            }
            else{
                this.file = file;
                this.choose_image = true;
                let promise = this.encodeImageFileAsURL(file)
                promise.then(message => this.base64 = message);
            }     
        },
        //Transforme l'image en base64
        encodeImageFileAsURL(file) {
            return new Promise(function (resolve, reject) {
                let reader = new FileReader();
                
                reader.readAsDataURL(file);
                reader.onload = function () {
                    this.base64 = reader.result;
                };
                reader.onerror = function (error) {
                    reject(error);
                };
                reader.onloadend = function () {
                    resolve(this.base64);
                };
            });
        },
        //Ajoute l'image dans la bdd
        onSubmit: function(){
            if(this.picture_name != ""){
                //Ajoute
                fetch(this.api_url,{
                    method: "POST",
                    body: JSON.stringify({
                        procedure:"create",
                        table: "Image",
                        attributes:[
                            {name:"nom_image",value:this.picture_name},
                            {name:"the_picture",value: this.base64}
                        ]
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                }).then(res => res.json())
                .then((result)=>{
                    console.log("upload",result)
                    this.action()
                    //met à jour l'affichage
                    fetch(this.api_url,{
                        method: "POST",
                        body: JSON.stringify({
                        procedure:"get_all",
                        table: "Image"
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                    }).then(res => res.json())
                    .then(result => {
                        if(result.err){
                            console.log(result.err)
                        }else{
                            this.images = result;
                        }
                    })
                })
                .catch((err)=>console.log(err))
            }else{
                 console.log("ERROR NO NAME")
            }
        }
    },
    //Prend toute les images de la bdd
    async mounted(){
        fetch(this.api_url,{
            method: "POST",
            body: JSON.stringify({
                procedure:"get_all",
                table: "Image"
            }),
            headers: {
                "content-type": "application/json"
            }
        }).then(res => res.json())
        .then(result => {
            if(result.err){
                console.log(result.err)
            }else{
                this.images = result;
            }
        })
    }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.responsive {
  width: 100%;
  height: auto;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
