<!--
This file display a form to create a new Questionnaire/Question/Reponse
depending of the provided type
-->
<template>
    <div>
        <!--div to create a Questionnaire-->
        <div v-if="this.isQuestionnaire">
            <!--bootstrap card-->
            <b-card no-body class="mb-1">
                <!--header with collapse button-->
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-button block variant="success" v-b-toggle.add_questionnaire>Ajouter un Questionnaire</b-button>
                </b-card-header>
                <!--collapsed body with form to create new Questionnaire-->
                <b-collapse id="add_questionnaire" accordion="questionnaire-add-accordion" role="tabpanel">
                    <b-card-body>
                        <!--bootstrap form (input bind with new_questionnaire)-->
                        <b-form >
                            <b-row>
                                <b-col>
                                    <!--input for the title of the Questionnaire (bind with new_questionnaire.titre)-->
                                    <b-input-group prepend="Titre">
                                        <b-form-input v-model="new_questionnaire.titre" type="text" id="questionnaire-titre-input" placeholder="titre du questionnaire"></b-form-input>
                                    </b-input-group>
                                </b-col>
                            </b-row>
                            <br>
                            <b-row>
                                <b-col>
                                    <!--input for the theme of the Questionnaire (bind with new_questionnaire.theme)-->
                                        <ThemeSelector :themes="all_themes" @select_theme_event="handle_select_theme_event"/>
                                </b-col>
                                <!-- <b-col>
                                    input for the duration fo the Questionnaire (bind with new_questionnaire.time)
                                    <b-input-group prepend="Temps impartit">
                                        <b-form-input v-model="new_questionnaire.time" show-seconds type="time" id="questionnaire-temps-input"></b-form-input>
                                    </b-input-group>
                                </b-col> -->
                                <!--<b-col>
                                    select menu for the difficulte of the Questionnaire (bind with new_questionnaire.diff)
                                    <b-form-select
                                        v-model="new_questionnaire.diff"
                                        id="questionnaire-diff-select"
                                        class="mb-2 mr-sm-2 mb-sm-0"
                                        :options="[{ text: 'difficulté du questionnaire', value: null },{ text: 'facile', value: 'FACILE' }, { text: 'moyen', value: 'MOYEN' }, { text: 'difficile', value: 'DIFFICILE' }]"
                                        :value="null"
                                    ></b-form-select>
                                </b-col>-->
                            </b-row>
                            <br>
                            <b-row>
                                <!--submit button equivalent (click.prevent call on_new_questionnaire)-->
                                <b-col style="text-align: left;font-weight: bold">
                                    <b-button @click.prevent="on_new_questionnaire" variant="success">Créer</b-button>
                                </b-col>
                                <!--reset form button (click.prevent call on_reset_questionnaire)-->
                                <b-col style="text-align: right">
                                    <b-button @click.prevent="on_reset_questionnaire" variant="danger">Reset</b-button>
                                </b-col>
                            </b-row>
                        </b-form>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>

        <!--div to create a Question-->
        <div v-if="this.isQuestion">
            <!--bootstrap card-->
            <b-card no-body class="mb-1">
                <!--header with collapse button-->
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-button block variant="success" v-b-toggle.add_question>Ajouter une Question</b-button>
                </b-card-header>
                <!--collapsed body with form to create new Question-->
                <b-collapse id="add_question" accordion="question-add-accordion" role="tabpanel">
                    <b-card-body>
                        <!--bootstrap form (input bind with new_question)-->
                        <b-form>
                            <b-row>
                                <!--input for the title of the Question (bind with new_question.titre)-->
                                <b-col>
                                    <b-input-group prepend="Titre">
                                        <b-form-input v-model="new_question.titre" type="text" v-bind:id="'question-titre-input'+parent_id" placeholder="titre de la question"></b-form-input>
                                    </b-input-group>
                                </b-col>
                                <!--input for the type of the Question (bind with new_question.type)-->
                                <b-col>
                                    <b-form-select
                                        v-model="new_question.type"
                                        v-bind:id="'question-type-select'+parent_id"
                                        class="mb-2 mr-sm-2 mb-sm-0"
                                        :options="[{ text: 'type question', value: null },{ text: 'qcm', value: 'QCM' }, { text: 'ouverte', value: 'OUVERTE' }]"
                                        :value="null"
                                    ></b-form-select>
                                </b-col>
                            </b-row>
                            <br>
                            <b-row>
                                <!--input for the number of points of the Question (bind with new_question.points)-->
                                <b-col>
                                    <b-input-group prepend="Nombre de points">
                                        <b-form-input v-model="new_question.nbPoints" type="number" v-bind:id="'question-points-input'+parent_id"></b-form-input>
                                    </b-input-group>
                                </b-col>
                            </b-row>
                            <br>
                            <b-row>
                                <!--submit button equivalent (click.prevent call on_new_question)-->
                                <b-col style="text-align: left;font-weight: bold">
                                    <b-button @click.prevent="on_new_question" variant="success">Créer</b-button>
                                </b-col>
                                <!--reset form button (click.prevent call on_reset_question)-->
                                <b-col style="text-align: right">
                                    <b-button @click.prevent="on_reset_question" variant="danger">Reset</b-button>
                                </b-col>
                            </b-row>
                        </b-form>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>

        <!--div to create a Reponse-->
        <div v-if="this.isReponse">
            <!--bootstrap card-->
            <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-button block variant="success" v-b-toggle.add_reponse>Ajouter une Reponse</b-button>
                </b-card-header>
                <b-collapse id="add_reponse" accordion="reponse-add-accordion" role="tabpanel">
                    <b-card-body>
                        <b-form>
                            <b-row>
                                <!--input for the text of the Question (bind with new_question.texte)-->
                                <b-col>
                                    <b-input-group prepend="Texte">
                                        <b-form-input type="text" v-bind:id="'reponse-texte-input'+parent_id" v-model="new_reponse.texte" placeholder="texte de la réponse"></b-form-input>
                                    </b-input-group>
                                </b-col>
                                <!--input for the index (number) of the Question (bind with new_question.number)-->

                                <!-- <b-col>                                
                                    <b-input-group prepend="Numero">
                                        <b-form-input type="number" v-bind:id="'reponse-num-input'+parent_id" placeholder="0" v-model="new_reponse.numReponse" number ></b-form-input>
                                    </b-input-group>
                                </b-col> -->
                            </b-row>
                            <br>
                            <b-row>
                                <!--submit button equivalent (click.prevent call on_new_reponse)-->
                                <b-col style="text-align: left;font-weight: bold">
                                    <b-button @click.prevent="on_new_reponse" variant="success">Créer</b-button>
                                </b-col>
                                <!--reset form button (click.prevent call on_reset_reponse)-->
                                <b-col sm="auto">
                                    <b-button @click.prevent="on_reset_reponse" variant="danger">Reset</b-button>
                                </b-col>
                            </b-row>
                        </b-form>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>
        
        <!--error div (display if no valid type props is gived-->
        <div v-if="this.typeError">
            Type error "{{this.type}}" is not a valid type
        </div>
    </div>
</template>

<script>
import ThemeSelector from '../theme/ThemeSelector'

export default {
    props: ['api_url','parent_id','type'],
    components:{
        ThemeSelector
    },
    data () {
        return{
            //new questionanire to add
            new_questionnaire:{
                titre: '',
                theme: null,
                time:  '00:00'
            },
            //new question to add
            new_question:{
                titre: '',
                type: null,
                points: 0
            },
            //new reponse to add
            new_reponse:{
                texte: '',
                numReponse: 0
            },
            //determine with div to display
            isQuestionnaire:false,
            isQuestion:false,
            isReponse:false,
            typeError:false,
            //used  for themeSelector
            all_themes:[],
        }
    },
    methods:{
        //send a event to create a new Questionnaire with form data
        on_new_questionnaire(event){
            event.preventDefault()
            if(this.new_questionnaire.titre.trim() !== '' && this.new_questionnaire.theme != null){
                this.$emit("create_event",{
                    table:this.type,
                    attributes:{
                        titre:this.new_questionnaire.titre,
                        theme:this.new_questionnaire.theme,
                        time:this.calc_time(this.new_questionnaire.time),
                        diff:this.new_questionnaire.diff
                    }
                })
            }else{
                this.show_modal_error("Vous devez renseigner le titre et choisir un theme n'oubliez pas de cliquer sur \"Select\" avant de valider.","Attention !")
            }
        },
        //reset the questionanire creation form to default values
        on_reset_questionnaire(event){
            event.preventDefault()
            this.new_questionnaire.titre = ''
            this.new_questionnaire.theme = ''
            this.new_questionnaire.time = ''
            this.new_questionnaire.diff = ''
        },
        //generate seconds integer using string with this format HH:MM (used in on_new_questionnaire)
        calc_time(){
            let regex = /(?<hour>\d{2}):(?<minute>\d{2})/;
            let result = this.new_questionnaire.time.match(regex);
            let seconds = ((Number(result.groups.hour)*60)+Number(result.groups.minute))*60
            return seconds
        },
        on_new_question(event){
            event.preventDefault()
            if(this.new_question.titre.trim() !== '' && this.new_question.type != null){
                this.$emit("create_event",{
                    table:this.type,
                    questionnaire_id:this.parent_id,
                    attributes:{
                        titre:this.new_question.titre,
                        type:this.new_question.type,
                        points:this.new_question.points
                    }
                })
            }else{
                this.show_modal_error("Vous devez renseigner le titre et choisir un type avant de valider.","Attention !")
            }
        },
        on_reset_question(event){
            event.preventDefault()
            this.new_question.titre = ''
            this.new_question.type = null
            this.new_question.nbPoints = 0
        },
        on_new_reponse(event){
            event.preventDefault()
            if(this.new_reponse.texte.trim() != ''){
                this.$emit('create_event',{
                    table:this.type,
                    question_id:this.parent_id,
                    attributes:{
                        texte:this.new_reponse.texte,
                        numReponse:this.new_reponse.numReponse
                    }
                })
            }else{
                this.show_modal_error("Vous devez renseigner le texte avant de valider.","Attention !")
            }
        },
        on_reset_reponse(event){
            event.preventDefault()
            this.new_reponse.texte = ''
            this.new_reponse.numReponse = 0
        },
        handle_select_theme_event(id_theme){
            console.log("here",id_theme)
            this.new_questionnaire.theme = id_theme
        },
        show_modal_error(msg,title){
            this.$bvModal.msgBoxOk(msg,{
                title:title
            })
        }
    },
    mounted(){
        //use the parent_type props set the attribute of this component
        //who define wich div to show
        //at the end not the best idear, must have make three individual component
        //no time to fix that
        if(this.type === "Questionnaire"){
            this.isQuestionnaire = true;
            //fetch data for the ThemeSelector
            fetch(this.api_url,{
                method:'POST',
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Theme"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then((result)=>{
                this.all_themes = result
            })
            .catch((err)=>{console.log(err)})

        }else if(this.type === "Question"){
            this.isQuestion = true;
        }else if(this.type === "Reponse"){
            this.isReponse = true;
        }else{
            this.typeError = true;
        }
    }
}
</script>

<style>

</style>