<!--define this file-->
<template>
    <div>
        <!--list of questionnaires-->
        <li style="list-style-type: none" v-for="element in this.questionnaires" v-bind:key="element.questionnaire.id_questionnaire">
            <QuestionnaireDisplay :api_url="api_url" @create_event="handle_create_event" @delete_event="handle_delete_event" @edit_event="handle_edit_event" v-bind:questionnaire="element.questionnaire"/>
        </li>      
        <CreateElement @create_event="handle_create_event" :api_url="api_url" v-bind:type="this.type"/>
        <!--TODO composant pour créer aléatoirement des questionnaires-->
    </div>
</template>

<script>
import QuestionnaireDisplay from "./QuestionnaireDisplay.vue"
import CreateElement from "./CreateElement.vue"
export default {
    name:'ManagerQuestionnaire',
    props: ['api_url','questionnaires'],
    components:{
        QuestionnaireDisplay,
        CreateElement
    },
    data () {
        return{
            type:"Questionnaire"
        }
    },
    methods:{
        filtre_theme(){
            console.log("filtre")
        },
        handle_create_event(event){

            console.log("handle create",event)
            if(event.table){
                let table = event.table;
                let attributes = event.attributes                
                let thisObject = this
                if(table === "Questionnaire"){
                    this.send_request(
                        //request
                        {
                            procedure:"create",
                            table:"Questionnaire",
                            attributes:[
                                {name:"titre_questionnaire",value:attributes.titre},
                                {name:"theme_questionnaire",value:attributes.theme},
                                {name:"temps_questionnaire",value:attributes.time}
                            ]
                            /*titre:attributes.titre,
                            theme:attributes.theme,
                            difficulte:attributes.diff,
                            tempsImparti:attributes.time*/
                        },
                        //custom callback
                        function(result){
                            if(result.id){
                                thisObject.questionnaires.push({
                                    questionnaire:{
                                        id_questionnaire:result.id,
                                        titre_questionnaire:attributes.titre,
                                        theme_questionnaire:attributes.theme,
                                        temps_questionnaire:attributes.time,
                                        questions:[]
                                    }
                                })
                            }
                        }
                    )
                }else if(table === "Question"){
                    this.send_request(
                        //request
                        {
                            procedure:"create_question_to_questionnaire",
                            pk:event.questionnaire_id,
                            attributes:[
                                {name:"titre_question",value:attributes.titre},
                                {name:"type_question",value:attributes.type},
                                {name:"points_question",value:attributes.points},
                                {name:"bonne_reponse_question",value:0},
                                {name:"image_question",value:null}
                            ]
                        },
                        //custom callback
                        function(result){
                            if(result.id){
                                thisObject.questionnaires.forEach(element=>{
                                    console.log(element.questionnaire.id_questionnaire === event.questionnaire_id)
                                })
                                let tableElement = thisObject.questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id);
                                console.log(tableElement)
                                tableElement.questionnaire.questions.push({
                                    id_question:result.id,
                                    bonne_reponse_question:0,
                                    points_question:attributes.points,
                                    titre_question:attributes.titre,
                                    type_question:attributes.type,
                                    reponses:[]
                                })
                            }
                        }
                    )
                }else if(table === "Reponse"){
                    let tableElement = thisObject.questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id);
                    let question = tableElement.questionnaire.questions.find(element => element.id_question === event.question_id);


                    this.send_request(
                        //request
                        {
                            procedure:"create",
                            table:"Reponse",
                            attributes:[
                                {name:"texte_reponse",value:attributes.texte},
                                {name:"numero_reponse",value:question.reponses.length},
                                {name:"question_reponse",value:event.question_id}                                
                            ]
                        },
                        //custom callback
                        function(result){
                            if(result.id){
                                let tableElement = thisObject.questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id);
                                let question = tableElement.questionnaire.questions.find(element => element.id_question === event.question_id);
                                question.reponses.push({
                                    id_reponse:result.id,
                                    numero_reponse:question.reponses.length,
                                    texte_reponse:attributes.texte,
                                    question_reponse:event.question_id
                                })
                            }
                        }
                    )
                }
            }else{
                console.log(event)
                this.show_modal_error()
            }
        },
        handle_delete_event(event){
            console.log("delete_event manager",event)
            if(event.table){                
                let thisObject = this
                let table = event.table;
                let text = 'Voulez-vous vraiment supprimer ';
                switch(table){
                    case "Reponse":
                        text = text+"cette réponse ?"
                        break;
                    case "Question":
                        text = text+"cette question ?\n(toute ses réponses seront également supprimées)"
                        break;
                    case "Questionnaire":
                        text = text+"ce questionnaire ?\n(toutes ses questions ainsi que leurs réponses seront également supprimées)"
                        break;
                    default:
                        text = text+" ?"
                        break;
                }
                this.$bvModal.msgBoxConfirm(text, {
                    title: 'Confirmer la suppresion :',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'danger',
                    okTitle: 'OUI',
                    cancelTitle: 'NON',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                .then(modal_reponse => {
                    if(modal_reponse){
                        if(table === "Questionnaire"){
                            this.send_request(
                                //request
                                {
                                    procedure:"delete_children",
                                    table:"Questionnaire",
                                    pk:event.questionnaire_id
                                },
                                //custom callback
                                function(result){
                                    if(!result.err){
                                        thisObject.questionnaires = thisObject.questionnaires.filter(element => element.questionnaire.id_questionnaire !== event.questionnaire_id)
                                    }else{
                                        console.log(result.err)
                                        thisObject.show_modal_error()
                                    }
                                }
                            )
                        }else if(table === "Question"){
                            this.send_request(
                                //request
                                {
                                    procedure:"delete_children",
                                    table:"Question",
                                    pk:event.question_id
                                },
                                //custom callback
                                function(result){
                                    if(!result.err){
                                        console.log("here",event)
                                        console.log(thisObject.questionnaires,event.questionnaire_id)
                                        let tableElement = thisObject.questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id);
                                        console.log("tableElement",tableElement)
                                        tableElement.questionnaire.questions = tableElement.questionnaire.questions.filter(element => element.id_question !== event.question_id)
                                    }else{
                                        console.log(result.err)
                                        thisObject.show_modal_error()
                                    }
                                }
                            )
                        }else if(table === "Reponse"){
                            this.send_request(
                                //request
                                {
                                    procedure:"delete_children",
                                    table:"Reponse",
                                    pk:event.reponse_id
                                },
                                //custom callback
                                function(result){
                                    if(!result.err){
                                        let tableElement = thisObject.questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id);
                                        let question = tableElement.questionnaire.questions.find(element => element.id_question === event.question_id);
                                        question.reponses = question.reponses.filter(element => element.id_reponse !== event.reponse_id)
                                    }else{
                                        console.log(result.err)                                        
                                        thisObject.show_modal_error()
                                    }
                                }
                            )                    
                        }else{
                            console.log(event)
                            thisObject.show_modal_error()
                        }
                    }
                })
            }else{
                console.log(event)
                this.show_modal_error()
            }
        },
        handle_edit_event(event){
            //FIXME debug
            if(event.table){
                let table = event.table
                let questionnaires = this.questionnaires
                let thisObject = this
                if(table === "Questionnaire"){
                    console.log("bruh",event)
                    this.send_request(
                        //request
                        {
                            procedure:"update",
                            "table":table,
                            pk:event.questionnaire_id,
                            attributes:[
                                {name:"titre_questionnaire",value:event.attributes.titre},
                                {name:"theme_questionnaire",value:event.attributes.theme},
                                {name:"temps_questionnaire",value:thisObject.calc_time(event.attributes.time)}
                            ]
                        },
                        //custom callback
                        function(result){
                            if(!result.err){
                                let tableElement = questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id)
                                tableElement.questionnaire.titre_questionnaire = event.attributes.titre
                                tableElement.questionnaire.theme_questionnaire = event.attributes.theme
                                tableElement.questionnaire.temps_questionnaire = thisObject.calc_time(event.attributes.time)
                            }else{
                                console.log(event,result.err)
                                thisObject.show_modal_error()
                            }
                        }
                    )
                }else if(table === "Question"){
                    this.send_request(
                        //request
                        {
                            procedure:"update",
                            "table":table,
                            pk:event.question_id,
                            attributes:[
                                {name:"titre_question",value:event.attributes.titre},
                                {name:"type_question",value:event.attributes.type},
                                {name:"points_question",value:event.attributes.points},
                                {name:"bonne_reponse_question",value:event.attributes.bonneReponse}
                            ]
                        },
                        //custom callback
                        function(result){
                            if(!result.err){
                                let tableElement = questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id)
                                let question = tableElement.questionnaire.questions.find(element => element.id_question === event.question_id)
                                question.bonne_reponse_question = event.attributes.bonneReponse
                                question.titre_question = event.attributes.titre
                                question.points_question = event.attributes.points
                                question.type_question = event.attributes.type
                            }else{
                                console.log(event,result)
                                thisObject.show_modal_error()
                            }
                        }
                    )
                }else if(table === "Reponse"){
                    this.send_request(
                        //request
                        {
                            procedure:"update",
                            "table":table,
                            pk:event.reponse_id,
                            attributes:[
                                {name:"texte_reponse",value:event.attributes.texte},
                                {name:"numero_reponse",value:event.attributes.numReponse}
                            ]
                        },
                        //custom callback
                        function(result){
                            console.log("result",result)
                            if(!result.err){
                                console.log("event",event,questionnaires)
                                let tableElement = questionnaires.find(element => element.questionnaire.id_questionnaire === event.questionnaire_id)
                                console.log("element",tableElement)
                                let question = tableElement.questionnaire.questions.find(element => element.id_question === event.question_id)
                                let reponse = question.reponses.find(element => element.id_reponse === event.reponse_id)
                                console.log(reponse,event.attributes.texte)
                                reponse.texte_reponse = event.attributes.texte
                                reponse.numero_reponse = event.attributes.numReponse

                            }else{
                                console.log(event,result)
                                thisObject.show_modal_error()
                            }
                        }
                    )
                }else{
                    console.log(event)
                    thisObject.show_modal_error()
                }
            }else{
                console.log(event)
                this.show_modal_error()
            }
        },
        send_request(request,custom_callback){
            fetch(this.api_url,{
                method: "POST",
                body: JSON.stringify(request),
                headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json()).then(result =>{
                if(custom_callback != undefined) console.log('callback sued')
                // custom_callback(result)
                if(result.err != undefined){
                    console.log("err",result.err)
                    this.show_modal_error()
                }
                this.reload_data()
            })
        },
        //generate seconds integer using string with this format HH:MM (used in on_new_questionnaire)
        calc_time(time){
            console.log(time)
            let regex = /(?<hour>\d{2}):(?<minute>\d{2})/;
            let result = time.match(regex);
            let seconds = ((Number(result.groups.hour)*60)+Number(result.groups.minute))*60
            console.log(seconds)
            return seconds
        },
        show_modal_error(){
            this.$bvModal.msgBoxOk("Une erreur s'est produite veuillez réessayer.",{
                title:"Quelque chose s'est mal passé :("
            })
        },
        reload_data(){
            this.$emit('reload_event')
        }
    },
    mounted(){
        console.log("questionnaires",this.questionnaires)
        /*fetch(this.api_url,{
            method: "POST",
            body: JSON.stringify({
                procedure:"get_hierarchical_representation_all"
            }),
            headers: {
                "content-type": "application/json"
            }
        }).then(res => res.json())
        .then(result => {
            this.questionnaires = result;
        })*/
    }
}
</script>

<style>

</style>