<template>
    <div>
        <b-form inline>
            <b-col>
                <b-form-select v-model="selected_questionnaire" :options="questionnaires_options"></b-form-select>
                <b-button variant="success" @click="select">Select</b-button>
            </b-col>
        </b-form>
    </div>
</template>

<script>
export default {
    name:'QuestionnaireSelector',
    props:[
        'questionnaires',
        'questionnaire_to_select',
        'chateau'
    ],
    data(){
        return{
            selected_questionnaire:null,
        }
    },
    computed:{
        questionnaires_options(){
            let options = [{value:null,text:'Selectionnez un Questionnaire'}]
            
            this.questionnaires.forEach(questionnaire => {
                options.push({value:questionnaire.id_questionnaire,text:questionnaire.titre_questionnaire})
            });

            return options
        }
    },
    methods:{
        select(){
            if(this.selected_questionnaire != null){
                //emit the id of the selected questionnaire
                if(this.chateau != undefined){
                    if(this.chateau.attaque != undefined){
                        this.$emit("select_questionnaire_event",{id_attaque:this.chateau.attaque.id_attaque,id_questionnaire:this.selected_questionnaire})
                    }
                }else{
                    this.$emit("select_questionnaire_event",this.selected_questionnaire)
                }
            }else{
                console.log("need to select a questionnaire")
                // TODO display error
            }
        }
    },
    mounted(){
        console.log("questionnaires",this.questionnaires)
            
            if(this.questionnaire_to_select != undefined && this.questionnaire_to_select != null){
                this.selected_questionnaire = this.questionnaire_to_select
            }else{
                this.selected_questionnaire = null
            }
    }
}
</script>

<style>

</style>