<!--
This vue file display datas of a provided question,
create childs ReponseDisplay components,
create CreateEvent for new Question
-->
<template>
    <div>
        <b-card no-body class="mb-1">
            <!--header (not collapse part)-->
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-row>
                    <!--collapse button and Question attributes-->
                    <b-col style="text-align: left;font-weight: bold" v-if="!this.edit_mode">
                        <b-button size="sm" variant="warning" v-b-toggle="''+this.question.id_question">+</b-button>
                        <span> {{this.question.titre_question}} {{this.question.type_question}} ({{this.question.points_question}} pts) [{{this.question.bonne_reponse_question}}]</span>
                    </b-col>
                    <b-col>
                        <PictureUpload :api_url="api_url" :question="this.question"/>
                    </b-col>
                    <!--collapse button and Question edit input fields-->
                    <b-col style="text-align: left;font-weight: bold" v-if="this.edit_mode">
                        <b-form inline>
                            <b-button size="sm" variant="warning" v-b-toggle="''+this.question.id_question">+</b-button>
                            <!--input for the title of the Question (bind with new_question.titre)-->
                                <b-col>
                                    <b-input-group prepend="Titre">
                                        <b-form-input v-model="edit_question.titre" type="text" v-bind:id="'question-titre-input'+parent_id" placeholder="titre de la question"></b-form-input>
                                    </b-input-group>
                                </b-col>
                                <b-col>
                                    <b-input-group prepend="Nombre de points">
                                        <b-form-input v-model="edit_question.nbPoints" type="number" v-bind:id="'question-points-input'+parent_id"></b-form-input>
                                    </b-input-group>
                                </b-col>
                                <!--input for the type of the Question (bind with new_question.type)-->
                                <b-col sm="auto">
                                    <b-form-select
                                        v-model="edit_question.type"
                                        v-bind:id="'question-type-select'+parent_id"
                                        class="mb-2 mr-sm-2 mb-sm-0"
                                        :options="[{ text: 'type question', value: null },{ text: 'qcm', value: 'QCM' }, { text: 'ouverte', value: 'OUVERTE' }]"
                                        :value="null"
                                    ></b-form-select>
                                </b-col>
                                <b-col v-if="this.edit_question.type === 'QCM'">
                                    <b-input-group prepend="Bonne réponse">
                                        <b-form-input v-model="edit_question.bonneReponse" type="number" v-bind:id="'question-bonne-input'+parent_id"></b-form-input>
                                    </b-input-group>
                                </b-col>
                                <!-- <b-col>
                                    <b-input-group prepend="Theme">
                                        <b-form-input v-model="edit_question.theme" type="text" v-bind:id="'question-theme-input'+parent_id" placeholder="theme de la question"></b-form-input>
                                    </b-input-group>
                                </b-col> -->
                                <b-col style="text-align: left;font-weight: bold">
                                    <b-button @click.prevent="on_edit_validate" variant="success">Modifier</b-button>
                                </b-col>
                        </b-form>
                    </b-col>
                    <!--edit button-->
                    <b-col sm="auto">
                        <img v-bind:src="edit_icon" alt="edit ." @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave">
                    </b-col>
                    <!--delete button-->
                    <b-col sm="auto">
                        <b-button v-bind:for="this.question.id_question" size="sm" variant="outline-dark" @click="on_delete"> X </b-button>
                    </b-col>
                </b-row>
            </b-card-header>
            <!--body (collapsed part)-->
            <b-collapse v-bind:id="this.question.id_question" accordion="question-accordion" role="tabpanel">
                <b-card-body>
                    <!--list of reponses of this question-->
                    <span v-if="this.question.type_question === 'QCM'">
                        <li style="list-style-type: none" v-for="reponse in this.question.reponses" :key="reponse.id_reponse">
                            <ReponseDisplay @delete_event="handle_delete_event" @edit_event="handle_edit_event" v-bind:reponse="reponse"/>
                        </li>
                    </span>
                    <span v-if="this.question.type_question === 'OUVERTE'">                        
                        <li style="list-style-type: none" v-for="reponse in this.question.reponses" :key="reponse.id_reponse">
                            <ReponseDisplay @delete_event="handle_delete_event" @edit_event="handle_edit_event" v-bind:reponse="reponse" v-if="reponse.numero_reponse === 0"/>
                        </li>
                    </span>
                </b-card-body>
                <CreateElement @create_event="handle_create_event" v-bind:type="this.type"/>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>
import PictureUpload from '../../picture/PictureUpload'
import ReponseDisplay from './ReponseDisplay.vue'
import CreateElement from './CreateElement.vue'
export default {
    props:['question','parent_id','api_url'],
    components:{
        ReponseDisplay,
        CreateElement,
        PictureUpload
    },
    data () {
        return{            
            edit_icon: require("../../../../public/edit_pencil.png"),
            edit_mode: false,
            edit_question: {
                bonneReponse: undefined,
                nbPoints: undefined,
                titre: undefined,
                theme: undefined,
                type: undefined
            },
            type:"Reponse"
        }
    },
    methods:{
        handle_create_event(event){
            //catch create_event emit by the CreateElement component (who create Reponse in this context)
            event["question_id"] = this.question.id_question
            this.$emit("create_event",event)
        },
        handle_delete_event(event){
            console.log("delete_event question",event)
            //catch delete_event emit in ReponseDisplay
            event["question_id"] = this.question.id_question
            this.$emit("delete_event",event)
        },
        handle_edit_event(event){
            event["question_id"] = this.question.id_question
            this.$emit("edit_event",event)
        },
        on_delete(){
            //emit a delete_event for this Question
            this.$emit("delete_event",{table:"Question",question_id:this.question.id_question})
        },
        on_edit_over(event){
            console.log("over",event)
            this.edit_icon = require("../../../../public/edit_pencil_over.png")
        },
        on_edit_leave(event){
            console.log("leave",event)
            this.edit_icon = require("../../../../public/edit_pencil.png")
        },
        on_edit_click(event){
            console.log("edit:",event)
            this.edit_mode = !this.edit_mode
        },
        on_edit_validate(event){
            console.log("validate:",event)
            console.log(this.edit_question)
            this.$emit("edit_event",{
                table:"Question",
                question_id:this.question.id_question,
                attributes:{                    
                    titre: this.edit_question.titre,
                    type: this.edit_question.type,
                    theme: this.edit_question.theme,
                    bonneReponse: this.edit_question.bonneReponse,
                    points: this.edit_question.nbPoints
                }
            })
            this.edit_mode = false
        }   
    },
    mounted(){
        this.edit_question.bonneReponse = this.question.bonne_reponse_question
        this.edit_question.nbPoints = this.question.points_question
        this.edit_question.titre = this.question.titre_question
        this.edit_question.type = this.question.type_question
        this.edit_question.theme = this.question.theme_question
    }
}
</script>

<style>

</style>