<!--
This vue file display datas of a provided questionnaire,
create childs QuestionDisplay components,
create CreateEvent for new Questionnaire
-->
<template>
    <div>
        <b-card no-body class="mb-1">
            <!--header (not collapse part)-->
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-row>
                    <!--collapse button and Questionnaire attributes-->
                    <b-col style="text-align: left;font-weight: bold" v-if="!this.edit_mode">
                        <b-button size="sm" variant="warning" v-b-toggle="''+this.questionnaire.id_questionnaire">+</b-button>
                        {{this.questionnaire.titre_questionnaire}}
                        <!--TODO récupérer les themes -->
                        {{this.questionnaire.nom_theme_questionnaire}}
                        <!-- {{renderTime(this.questionnaire.temps_questionnaire)}} -->
                    </b-col>
                    <!--collapse button and Questionnaire edit fields-->
                    <b-col style="text-align: left;font-weight: bold" v-if="this.edit_mode">
                        <b-form inline>
                            <b-button size="sm" variant="warning" v-b-toggle="''+this.questionnaire.id_questionnaire">+</b-button>
                            <b-col>
                                <!--input for the title of the Questionnaire (bind with edit_questionnaire.titre)-->
                                <b-input-group prepend="Titre">
                                    <b-form-input v-model="edit_questionnaire.titre" type="text" id="questionnaire-titre-input" placeholder="titre du questionnaire"></b-form-input>
                                </b-input-group>
                            </b-col>
                            <b-col>
                                <!--input for the theme of the Questionnaire (bind with edit_questionnaire.theme)-->
                                <!-- <b-input-group prepend="Theme"> -->
                                    <ThemeSelector :themes="themes" :theme_to_select="questionnaire.theme_questionnaire" @select_theme_event="edit_theme"/>
                                    <!-- <b-form-input v-model="edit_questionnaire.theme" type="text" id="questionnaire-theme-input" placeholder="theme du questionnaire"></b-form-input>
                                </b-input-group> -->
                            </b-col>
                            <!-- <b-col sm="auto">
                                <b-input-group prepend="Temps impartit">
                                    <b-form-input v-model="edit_questionnaire.time" show-seconds type="time" id="questionnaire-temps-input"></b-form-input>
                                </b-input-group>
                            </b-col> -->
                            <!--<b-col sm="auto">
                                select menu for the difficulte of the Questionnaire (bind with edit_questionnaire.diff)
                                <b-form-select
                                    v-model="edit_questionnaire.diff"
                                    id="questionnaire-diff-select"
                                    class="mb-2 mr-sm-2 mb-sm-0"
                                    :options="[{ text: 'difficulté du questionnaire', value: null },{ text: 'facile', value: 'FACILE' }, { text: 'moyen', value: 'MOYEN' }, { text: 'difficile', value: 'DIFFICILE' }]"
                                    :value="null"
                                ></b-form-select>
                            </b-col>-->
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_edit_validate" variant="success">Modifier</b-button>
                            </b-col>
                        </b-form>
                    </b-col>
                    <!--edit button-->
                    <b-col sm="auto" class="h4 mb-2">
                        <b-icon :icon="edit_icon" @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave"></b-icon>
                        <!-- <img v-bind:src="edit_icon" alt="edit ." @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave"> -->
                    </b-col>
                    <!--delete button-->
                    <b-col sm="auto" class="h4 mb-2">
                        <b-icon :icon="delete_icon" @click="on_delete_click"  @mouseover="on_delete_over" @mouseleave="on_delete_leave"></b-icon>
                        <!-- <b-button v-bind:for="this.questionnaire.id_questionnaire" size="sm" variant="outline-dark" @click="on_delete"> X </b-button> -->
                    </b-col>
                </b-row>
            </b-card-header>
            <!--body (collapsed part)-->
            <b-collapse v-bind:id="this.questionnaire.id_questionnaire" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                    <!--list of questions of this questionnaire-->
                    <li style="list-style-type: none" v-for="element in this.questionnaire.questions" :key="element.idQuestion">
                        <QuestionDisplay :api_url="api_url" @create_event="handle_create_event" @delete_event="handle_delete_event" @edit_event="handle_edit_event" v-bind:question="element"/>
                    </li>
                    <CreateElement @create_event="handle_create_event" v-bind:type="this.type" v-bind:parent_id="this.questionnaire.id_questionnaire"/>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>

import QuestionDisplay from './QuestionDisplay.vue'
import CreateElement from './CreateElement.vue'
import ThemeSelector from '../theme/ThemeSelector'

export default {
    props: ['api_url','questionnaire'],
    components:{
        QuestionDisplay,
        CreateElement,
        ThemeSelector
    },
    data () {
        return{
            delete_icon: "trash",
            edit_icon: "pencil",
            edit_mode: false,
            edit_questionnaire:{
                titre: undefined,
                theme: undefined,
                time:  undefined
                //diff: undefined
            },
            type:"Question",
            themes:[]
        }
    },
    methods:{
        edit_theme(theme){
            this.edit_questionnaire.theme = theme
        },
        renderTime(time){
            let hours = Math.floor(time/3600);
            let minutes = Math.floor((time%3600)/60)
            if(hours<10)hours = "0"+hours
            if(minutes<10)minutes = "0"+minutes
            return(hours+":"+minutes)
        },
        handle_create_event(event){
            //catch crate-event emit from CreateElement or QuestionDisplay components
            event["questionnaire_id"] = this.questionnaire.id_questionnaire
            this.$emit("create_event",event)
        },
        handle_delete_event(event){
            console.log("delete_event questionnaire",event)
            if(event.table){
                //catch delete_event from other components
            event["questionnaire_id"] = this.questionnaire.id_questionnaire
                this.$emit("delete_event",event)
            }
        },
        handle_edit_event(event){
            event["questionnaire_id"] = this.questionnaire.id_questionnaire
            this.$emit("edit_event",event)
        },
        on_delete(){
            this.$emit("delete_event",{table:"Questionnaire",questionnaire_id:this.questionnaire.id_questionnaire})
        },
        on_edit_over(){
            this.edit_icon = "pencil-fill"
        },
        on_edit_leave(){
            this.edit_icon = "pencil"
        },
        on_edit_click(){
            this.edit_mode = !this.edit_mode
        },
        on_delete_over(){
            this.delete_icon = "trash-fill"
        },
        on_delete_leave(){
            this.delete_icon = "trash"
        },
        on_delete_click(){
            this.$emit('delete_event',{table:"Questionnaire",questionnaire_id:this.questionnaire.id_questionnaire})
        },
        on_edit_validate(){
            this.$emit("edit_event",{
                table:"Questionnaire",
                questionnaire_id:this.questionnaire.id_questionnaire,
                attributes:{
                    titre:this.edit_questionnaire.titre,
                    theme:this.edit_questionnaire.theme,
                    //diff:this.edit_questionnaire.diff,
                    time:this.edit_questionnaire.time
                }
            })
            this.edit_mode = false
        }
    },
    mounted(){
        
        fetch(this.api_url,{
            method:"POST",
            body: JSON.stringify({
                procedure:"get_all",
                table:"Theme"
            }),
            headers: {
                "content-type": "application/json"
            }
        })
        .then(res=>res.json())
        .then(result =>{
            if(result.err != undefined){
                console.log(result.err)
            }else{
                this.themes = result
            }
        })
        .catch((err)=>{console.log(err)})

        this.edit_questionnaire.titre = this.questionnaire.titre_questionnaire
        this.edit_questionnaire.theme = this.questionnaire.theme_questionnaire
        this.edit_questionnaire.time = this.renderTime(this.questionnaire.temps_questionnaire)
        //this.edit_questionnaire.diff = this.questionnaire.difficulte
    }
}
</script>

<style>

</style>