<!--
This vue file display datas of a provider questionnaire,
create childs QuestionDisplay components,
create CreateEvent for new Reponse
-->
<template>
    <div>
        <b-card no-body class="mb-1">
            <!--header (not body part)-->
            <b-card-header>
                <b-row>
                    <!--reponse data-->
                    <b-col style="text-align: left;font-weight: bold" v-if="!this.edit_mode">
                        [{{this.reponse.numero_reponse}}] <i>{{this.reponse.texte_reponse}}</i>
                    </b-col>
                    <!--reponse edit field-->
                    <b-col style="text-align: left;font-weight: bold" v-if="this.edit_mode">
                        <b-form inline>
                            <b-col>
                            <b-input-group prepend="Numero">
                                <b-form-input type="number" v-bind:id="'reponse-num-input'+this.reponse.id_reponse" placeholder="0" v-model="edit_reponse.numReponse" number ></b-form-input>
                            </b-input-group>
                            </b-col>
                            <b-col>
                            <b-input-group prepend="Texte">
                                <b-form-input type="text" v-bind:id="'reponse-texte-input'+this.reponse.id_reponse" v-model="edit_reponse.texte" placeholder="texte de la réponse"></b-form-input>
                            </b-input-group>
                            </b-col>
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_edit_validate" variant="success">Modifier</b-button>
                            </b-col>
                        </b-form>
                    </b-col>
                    <!--edit button-->
                    <b-col sm="auto">
                        <img v-bind:src="edit_icon" alt="edit ." @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave">
                    </b-col>
                    <!--delete button-->
                    <b-col sm="auto">
                        <b-button v-bind:for="this.reponse.id_reponse" size="sm" variant="outline-dark" @click="on_delete"> X </b-button>
                    </b-col>
                </b-row>
            </b-card-header>
        </b-card>
    </div>
</template>

<script>
export default {
    props:['reponse'],
    data () {
        return{
            edit_icon: require("../../../../public/edit_pencil.png"),
            edit_mode: false,
            edit_reponse: {
                numReponse: undefined,
                texte: undefined
            }
        }
    },
    methods:{
        on_delete(){
            console.log("delete_event reponse",{table:"Reponse"})
            this.$emit("delete_event",{table:"Reponse",reponse_id:this.reponse.id_reponse})
        },
        on_edit_over(event){
            console.log("over",event)
            this.edit_icon = require("../../../../public/edit_pencil_over.png")
        },
        on_edit_leave(event){
            console.log("leave",event)
            this.edit_icon = require("../../../../public/edit_pencil.png")
        },
        on_edit_click(event){
            console.log("edit:",event)
            this.edit_mode = !this.edit_mode
        },
        on_edit_validate(event){
            console.log("validate:",event)
            this.$emit("edit_event",{
                table:"Reponse",
                reponse_id:this.reponse.id_reponse,
                attributes:{                    
                    texte:this.edit_reponse.texte,
                    numReponse:this.edit_reponse.numReponse
                }
            })
            this.edit_mode = false
        }  
    },
    mounted(){
        this.edit_reponse.numReponse = this.reponse.numero_reponse
        this.edit_reponse.texte = this.reponse.texte_reponse
    }
}
</script>

<style>

</style>