<template>
    <div>
        <b-form inline>
            <b-col>
                <b-form-select v-model="selected_classe" :options="classes_options"></b-form-select>
                <b-button variant="success" @click="select">Select</b-button>
            </b-col>
        </b-form>
    </div>
</template>

<script>
export default {
    name:'ClasseSelector',
    props:[
        'classes',
        'classe_to_select'
    ],
    data(){
        return{
            selected_classe:null,
        }
    },
    computed:{
        classes_options(){
            let options = [{value:null,text:'Selectionnez une Classe'}]
            
            this.classes.forEach(classe => {
                options.push({value:classe.id_classe,text:classe.nom_classe})
            });

            return options
        }
    },
    methods:{
        select(){
            if(this.selected_classe != null){
                //emit the id of the selected classe
                this.$emit("select_classe_event",this.selected_classe)
            }else{
                console.log("need to select a classe")
                // TODO display error
            }
        }
    },
    mounted(){
        console.log("classes",this.classes)
            
            if(this.classe_to_select != undefined && this.classe_to_select != null){
                this.selected_classe = this.classe_to_select
            }else{
                this.selected_classe = null
            }
    }
}
</script>

<style>

</style>