<template>
    <div>        
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-row>
                    <b-col sm="auto" v-if="!edit_mode">
                        <b-button variant="outline-dark" v-b-toggle="''+this.classe.id_classe">{{classe.nom_classe}}</b-button>
                    </b-col>
                    <b-col v-if="edit_mode">
                        <b-form inline>
                            <b-col>
                            <b-input-group prepend="Nom">
                                <b-form-input type="text" v-bind:id="'classe-nom-input'+this.classe.id_classe" v-model="edit_classe.nom_classe" placeholder="Nom" ></b-form-input>
                            </b-input-group>
                            </b-col>                            
                            <b-col style="text-align: left;font-weight: bold">
                                <b-button @click.prevent="on_edit_validate" variant="success">Modifier</b-button>
                            </b-col>
                        </b-form>
                    </b-col>                    
                    <b-col sm="auto" class="h4 mb-2">
                        <b-icon :icon="edit_icon" @click="on_edit_click" @mouseover="on_edit_over" @mouseleave="on_edit_leave"></b-icon>
                        <b-icon :icon="delete_icon" @click="on_delete_click"  @mouseover="on_delete_over" @mouseleave="on_delete_leave"></b-icon>
                    </b-col>
                </b-row>
            </b-card-header>
            <b-collapse :id="this.classe.id_classe" accordion="question-accordion" role="tabpanel">
                <b-card-body>
<!-- 
                    <b-button  v-b-toggle="''+this.classe.id_classe+'eleves'" >Elèves :</b-button>
                    <b-collapse :id="''+this.classe.id_classe+'eleves'" @show="get_eleves_data">
                        <b-card>
                            <div v-for="eleve in eleves" :key="eleve.id_eleve">
                                {{eleve.nom_eleve}} {{eleve.prenom_eleve}} [{{eleve.points_eleve}}]
                            </div>
                        </b-card>
                    </b-collapse> -->

                    <b-button  v-b-toggle="''+this.classe.id_classe+'current_theme'" @click="reload_themes">Thèmes : </b-button>
                    <b-collapse :id="''+this.classe.id_classe+'current_theme'" @show="get_themes_data">
                        <b-card>
                            <div v-for="theme in current_themes" :key="theme.id_theme">
                                <b-row>
                                <b-col md="auto" style="text-align: left;font-weight: bold">
                                    {{theme.nom_theme}}
                                </b-col>
                                <b-col md="auto">
                                    (<span v-if="theme.show_theme">Visible</span>
                                    <span v-if="!theme.show_theme">Masqué</span>)
                                </b-col>
                                <b-col>
                                    <b-form inline>
                                        <b-form-checkbox v-model="theme.show_theme" switch @change="on_edit_theme_show(theme)"></b-form-checkbox>
                                    </b-form>
                                </b-col>
                                <b-col sm="auto" class="h4 mb-2">
                                    <b-icon :icon="remove_icon" @click="on_remove_click(theme.id_theme)"  @mouseover="on_remove_over" @mouseleave="on_remove_leave"></b-icon>
                                </b-col>
                                </b-row>
                            </div>
                            <b-card-text>Ajouter un Theme :</b-card-text>
                            <ThemeSelector :themes="all_themes" @select_theme_event="add_theme"/>
                        </b-card>
                    </b-collapse>

                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>
import ThemeSelector from '../theme/ThemeSelector'

export default {
    name:"ClasseDisplay",
    components:{
        ThemeSelector
    },
    props:[
        'api_url',
        'classe',
        'all_themes'
    ],
    data(){
        return {
            remove_icon:'trash',
            edit_icon:"pencil",
            delete_icon:"trash",
            edit_theme_mode:false,
            edit_mode:false,
            edit_classe:{
                nom_classe:undefined
            },
            eleves:[],
            current_themes:[]
        }
    },
    methods:{
        //methods call to handle events emited by subcomponents,
        on_edit_over(){
            this.edit_icon = "pencil-fill"
        },
        on_edit_leave(){
            this.edit_icon = "pencil"
        },
        on_edit_click(){
            this.edit_mode = !this.edit_mode
        },
        on_edit_validate(){
            this.edit_mode = false
            this.$emit("edit_event",{"id_classe":this.classe.id_classe,"nom_classe":this.edit_classe.nom_classe})
        },
        on_delete_over(){
            this.delete_icon = "trash-fill"
        },
        on_delete_leave(){
            this.delete_icon = "trash"
        },
        on_delete_click(){
            this.$emit("delete_event",this.classe.id_classe)
        },
        on_remove_click(theme){
            this.remove_theme(theme)
        },
        on_remove_over(){
            this.remove_icon = 'trash_fill'
        },
        on_remove_leave(){
            this.remove_icon = 'trash'
        },
        on_edit_theme_show(theme){
            let visibility
            if(theme.show_theme){
                visibility = "MONTRER"
            }else{
                visibility = "CACHER"
            }
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"edit_theme_visibility",
                    pk_classe:this.classe.id_classe,
                    pk_theme:theme.id_theme,
                    "visibility":visibility
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then((result)=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.$emit("reload_event")
                }
            })
            .catch(err=>console.log(err))
        },
        add_theme(theme_id){
            let not_added = true
            this.current_themes.forEach(theme => {
                if(theme.id_theme === theme_id) not_added = false
            });
            if(not_added){
                fetch(this.api_url,{
                    method:"POST",
                    body: JSON.stringify({
                        procedure:"create",
                        table:"AssociationThemeClasse",
                        attributes:[
                            {name:"theme_association",value:theme_id},
                            {name:"classe_association",value:this.classe.id_classe},
                            {name:"etat_association",value:"CACHER"}
                        ]
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .then(res=>res.json())
                .then((result)=>{
                    if(result.err != undefined){
                        console.log(result.err)
                    }else{
                        this.get_themes_data()
                        this.$emit("reload_event")
                    }
                })
                .catch(err=>console.log(err))
            }else{
                this.$bvModal.msgBoxOk("Vous ne pouvez pas rajouter un thème déjà ajouté à une classe !",{
                    title:"Attention !"
                })
            }
        },
        remove_theme(theme){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"delete_one",
                    table:"AssociationThemeClasse",
                    pk:theme
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then((result)=>{
                if(result.err != undefined){
                    console.log(result.err)
                }else{
                    this.$emit("reload_event")
                }
            })
            .catch((err)=>console.log(err))
        },
        get_eleves_data(){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_eleve_from_classe",
                    pk:this.classe.id_classe
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    this.eleves = result
                }
            })
        },
        get_themes_data(){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_theme_from_classe",
                    pk:this.classe.id_classe
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                console.log("theme from classe",result)
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    this.current_themes = result
                }
            })
        },
        reload_themes(){
            this.$emit('reload_event')
        }
    },
    mounted(){
        this.edit_classe.nom_classe = this.classe.nom_classe
    }
}
</script>

<style>

</style>