<template>
    <div>
        <div v-for="classe in classes" :key="classe.id_classe">
            <ClasseDisplay :classe="classe" :all_themes="themes" :api_url="api_url" @reload_event="reload_themes" @edit_event="handle_edit_event" @delete_event="handle_delete_event"/>
        </div>
        <CreationClasse @create_event="handle_create_event"/>
    </div>
</template>

<script>
import ClasseDisplay from './ClasseDisplay'
import CreationClasse from './CreationClasse'

export default {
    name:"ManagerClasse",
    components:{
        ClasseDisplay,
        CreationClasse
    },
    props:[
        'api_url','classes'
    ],
    data(){
        return {
            themes:[]
        }
    },
    methods:{
        handle_create_event(new_classe){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"create",
                    table:"Classe",
                    attributes:[
                        {name:"nom_classe",value:new_classe.nom_classe}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    this.$emit("reload_event")
                }
            })

        },
        handle_delete_event(id_classe){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_eleve_from_classe",
                    pk:id_classe
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    if(result.length == 0){

                        this.$bvModal.msgBoxConfirm("Cette classe sera suprimé", {
                            title: 'Confirmer la suppresion :',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'danger',
                            okTitle: 'OUI',
                            cancelTitle: 'NON',
                            footerClass: 'p-2',
                            hideHeaderClose: false,
                            centered: true
                        }).then((response)=>{

                            if(response){

                                fetch(this.api_url,{
                                    method:"POST",
                                    body: JSON.stringify({
                                        procedure:"delete_one",
                                        table:"Classe",
                                        pk:id_classe
                                    }),
                                    headers: {
                                        "content-type": "application/json"
                                    }
                                })
                                .then(res=>res.json())
                                .then(result =>{
                                    if(result.err != undefined){
                                        console.log(result.err)
                                    }else{
                                        this.$emit("reload_event")
                                    }

                                })

                            }

                        })

                    }else{
                        console.log("la classe ne doit pas voir d'eleves")
                        //TODO display error
                    }
                }
            })

        },
        handle_edit_event(edited_classe){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"update",
                    table:"Classe",
                    pk:edited_classe.id_classe,
                    attributes:[
                        {name:"nom_classe",value:edited_classe.nom_classe}
                    ]
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    this.$emit("reload_event")
                }
            })
        },
        reload_themes(){
            fetch(this.api_url,{
                method:"POST",
                body: JSON.stringify({
                    procedure:"get_all",
                    table:"Theme"
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(res=>res.json())
            .then(result =>{
                if(result.err != undefined){
                    console.log(result.err)
                    // TODO display error
                }else{
                    this.themes = result
                }
            })

        }
    },
    mounted(){
        // fetch(this.api_url,{
        //     method:"POST",
        //     body: JSON.stringify({
        //         procedure:"get_all",
        //         table:"Classe"
        //     }),
        //     headers: {
        //         "content-type": "application/json"
        //     }
        // })
        // .then(res=>res.json())
        // .then(result =>{
        //     if(result.err != undefined){
        //         console.log(result.err)
        //         // TODO display error
        //     }else{
        //         this.classes = result
        //     }
        // })
        console.log("classes",this.classes)

        fetch(this.api_url,{
            method:"POST",
            body: JSON.stringify({
                procedure:"get_all",
                table:"Theme"
            }),
            headers: {
                "content-type": "application/json"
            }
        })
        .then(res=>res.json())
        .then(result =>{
            if(result.err != undefined){
                console.log(result.err)
                // TODO display error
            }else{
                this.themes = result
            }
        })
    }
}
</script>

<style>

</style>